/*
CSS for DashBoard

*/
html {
	//font-family: "Meiryo", sans-serif;
}
a:hover,
a:focus,
a:active {
	outline: 0;
}

body.dashboard {
	background: #fdfdfd;
	//background: url(/images/main/white-tile.png);
    //font-family: Helvetica, sans-serif;
}
@media all and (-ms-high-contrast:none){ /* IE10-11 */
      body.dashboard {
        font-family: "Meiryo", "Roboto", sans-serif;
      }
}
@supports (-ms-accelerator:true) { /* Edge */
	body.dashboard {
		font-family: "Meiryo", "Roboto", sans-serif;
	}
}
iframe body {
	//color: #000;
    background: #fff;
}
textarea#main_content {
/*	color: #000;*/
/*    font-size: 2.2em;*/
/*    border: 2px solid red;*/
/*    background: red;*/
}
/*
.panel-default {
	background: #FFF7F4;
    border: none;
    padding: 3em 0 2em;
    border-radius: 2em;
}
*/
textarea {
	resize: vertical;
}

.wrap-panel {
	margin-top: 15%;
}
.panel-default {
	border-color: #aaa;
    border-width: 1px;
    background-color: #fefefe;
    width: 88%;
    margin: auto;
    //box-shadow: 1px 1px 5px #ccc;
}
.panel-default .panel-heading {
	background-color: #fefefe;
    border-color: #aaa;
    margin-bottom: 1.5em;
    //font-weight: 300;
    //font-size: 1.2em;
    //font-family: "Josefin Sans";
    //color: #fff;
    //letter-spacing: 0.05em;
    //padding: 0.5em 0 0.2em;
    //border-bottom: 1px solid #eee;
}
.panel-heading img {
	width: 220px;
    height: auto;
	margin-bottom: 0.1em;
}
.panel-body {
	padding: 0.5em 1em 2em;
}
.panel-default .form-group {
	margin-top: 1.5em;
}

input, textarea {
	font-size: 1.2em;
}
label > em {
	font-size: 0.9em;
    color: #777;
    font-weight: normal;
}
.i-radi { /*url_nameを入れるinput*/
	border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: none;
    padding: 0.2em 0.3em 0.4em;
    font-size: 1.1em;
}
.i-radi:disabled {
	background: #eee;
}
.btn-g {
	background: #ECF9F5;
    color: #333;
    border: 1px solid #ddd;
}
.btn-g span.octicon {
	color: #333;
}

/* TOP */
.placeholder a {
	display: block;
	border: 1px solid #ccc;
    border-radius: 0.5em;
    background: #EFF9F7;
    height: 13em;
    padding: 10% 1em;
    box-shadow: -2px -2px 3px #f3f3f3 inset;
    color: #333;
}
.placeholder a:hover {
	opacity: 0.7;
    text-decoration: none;
    box-shadow: none;
}
.placeholder .mega-octicon {
	color: #666;
    margin-right: 0.3em;
    font-size: 2.2em;
}
.placeholder p {
	color: #777;
    font-size: 1.1em;
    margin-top: 1.5em;
}
.btn-d {
	background: #EFF9F7;
    border: 1px solid #ccc;
    color: #555;
}
.btn-d:hover {
	opacity: 0.7;
    color: #555;
}
.nav-sidebar li > ul li {
	margin-bottom: 0.5em;
    margin-left: 0.6em;
}

td > strong {
	font-size: 1.1em;
}

.octicon {
    font-size: 1.2em;
    margin-right: 6px;
    color: #555;
}
.page-header .octicon {
	font-size: 1.3em;
    margin-right: 0.5em;
    color: #333;
}

/* table */
thead {
	background: #bfbfbf;
    color: #fff;
    font-size: 0.9em;
	/*
	background: #F0F7EF;
    color: #777;
    */
}
th.sz-w {
	width: 7em;
}

.page-header {
	border-color: #ddd;
}
.main h1.page-header {
	font-size: 2.3em;
}
.main h2.page-header {
    //font-size: 1.4em;
    //padding-top: 1em;
    //margin-top: 1em;
}
h1.page-header > span,
h2.page-header > span {
	margin-right: 0.6em;
}
.mega-octicon.octicon-home {
	font-weight: bold;
    font-size: 1.2em;
    //color: red;
}

/* job & study */
.checkbox {
	margin: 3em 2em 0.5em 0;
    text-align: right;
}
.checkbox > label {
	 font-size:1.1em;
     font-weight: bold;
}
.checkbox > small {
	line-height: 3em;
    color: #888;
}
.checkbox + p { /* 非公開文字 */
	 color:#FF5000;
     border-bottom: 1px solid #FF5000;
     font-size: 1.1em;
     padding-bottom: 0.3em;
     margin-bottom: 2em;
}
.checkbox + p .octicon {
	color: #FF5000;
    font-size: 1.2em;
}



/* user all */
.user-info thead th,
.user-info tbody td {
	height: 3.5em;
    padding: 0 0.5em;
}

/* user single */
.table-responsive {
	margin-top: 1em;
    margin-bottom: 3em;
}
.user-table {
	margin: 0.5em 0 3em;
}
.user-table tr > th {
	background: #f1f1f1;
}
.table.user-table > tbody > tr {
	height: 4em;
    vertical-align: top;
    
}
.user-table > tbody > tr > td {
	font-size: 1.1em;
    padding-bottom: 1.5em;
}
.dlf {
	float: right;
    background:none;
    border:1px solid #327AB6;
    border-radius:2px;
    box-shadow:none;
}
.dlf span {
	margin:0 5px;
    color:#327AB6;
}
.dlf:hover {
	background: #e8e8e8;
	opacity: 0.7;
}


/* btn */
.w-btn {
	width: 35%;
}
.btn .octicon {
	color: #fff;
}
.btn-lg {
	margin-top: 3em;
}

/* SiteInfo page */
.site-info .form-group {
	margin: 2em auto;
}
.site-info hr {
	 border-color:#ccc;
     margin: 3em 0;
}
.site-info .octicon {
	font-size: 1.2em;
}


/* sidebar */
.nav-sidebar {
	//border: 1px solid red;
    //margin-top: 0.5em;
    margin-bottom: 0;
    font-weight: bold;
}
.nav-sidebar > li {
	line-height: 2em;
}
.nav-sidebar ul.slide {
	display: none;
}
.nav-sidebar > li.active + li > ul.slide { /* Safari9で効かなくなった 直下指定の+が効いていない jsでは効いている */
	//display: block;
}
ul.slide {
	background: #fdfdfd;
    box-shadow: 0px 1px 2px #ccc inset;
    padding: 1em 0 1em 3.5em;
}


/* Drug & Drop */
.imgArea {
	margin: 2.0em 0 3em;
    display: none;
}
.imgArea-job {
	margin: 2.0em 0 3em;
    display: block;
}
#dropArea,
#dropAreaJob {
	border: 1px solid #ccc;
    background: #f9f9f9;
    border-radius: 5px;
    padding: 0.5em 0;
    min-height: 300px;
}
#dropArea.dover,
#dropAreaJob.dover {
	border: 3px dashed #0DE06C;
}
#dropArea span,
#dropAreaJob span {
	color: #777;
    margin-left:1em;
    line-height: 2em;
}
.progBar {
	width:0; 
    height:3px; 
    background: #0DE06C; /* #0DE06C #FF3700 #E84772 */ 
    margin-bottom:1em;
}
.progBar + .clearfix {
	//border: 1px solid red;
    min-height: 3em;
    line-height: 3em;
    margin-top: 0;
    //padding: 0.5em 0;
}
.progBar + .clearfix > small {
	display: block;
    font-size: 0.95em;
	margin: 0;
    padding: 0;
    line-height: 1.2em;
    //color: #FF8300;
    //border: 1px solid blue;
}
.addImg {
	float:left; 
    width:120px; 
    height:auto; 
    margin:0.7em;
}
#codeArea {
	display: none;
}
#codeArea pre {
	background: #fcfcfc;
}
.addCode {
	line-height: 2em;
    margin: 0.7em 0;
}
#del_btn,
#preDel_btn {
	font-size: 0.85em;
    margin-top: 5px;
    display: none;
}
#preDel_btn {
	display: inline-block;
    margin-left: 2em;
	//margin-right: 70%;
}

/*CKEditorでの表示時に.plugクラスを追加 */
.plug {
	display: block;
	position: fixed;
    top: 23%; 
    left: 30%;
    width: 55%;
    background: #f3f3f3;
    padding: 2em;
    border: 1px solid #777;
    border-radius: 5px;
    z-index: 9999;
    //opacity: 1;
}
.plug .preImg {
	//display: none;
}
.plugBack { /* 白背景 */
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    //height: 500px;
    background: rgba(255,255,255,0.55);
    //opacity: 0.6;
    z-index: 99;
}





