/*
main css
*/

body {
    font-size: 1.5em;
	line-height: 1.6em;
    background: #fffdfc; /* #FFFDFC */
    color: #4e4e4e;
}
body {
	font-family: "Meiryo", "游ゴシック", "YuGothic", sans-serif;
    /* Win10 Default: "Yu Gothic UI", */
}
input,
textarea { /* only Win */
	font-family: "Meiryo", sans-serif;
}

@media all and (-ms-high-contrast:none){ /* IE10-11 */
      body {
        //font-weight: bold;
        font-family: "Meiryo", sans-serif;
        //color: #333;
      }
}
@supports (-ms-accelerator:true) { /* Edge */
	body {
		//font-weight: bold;
        font-family: "Meiryo", sans-serif;
        //color: #333;
	}
}

nav.navbar {
	height: 3em;
    background: none;
    border: none;
}
.navbar-brand {
	display: none;
}
@-webkit-keyframes xTraY {
	0% { 
        opacity: 1;
	}
    100% {
        opacity: 0.7;
    }
}

@keyframes xTraY {
	0% { 
        opacity: 1;
	}
    100% {
        opacity: 0.7;
    }
}

a {
	color: #2E81C9;
    text-decoration: none;
}
a,
button,
input[type="submit"] {
/*	-moz-transition: all 0.2s linear;*/
/*    transition: all 0.2s linear;*/
	-moz-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    //font-family: "游ゴシック", "YuGothic", "Meiryo", sans-serif;
    //font-weight: normal;
}

a:hover,
button:hover,
input[type="submit"]:hover {
    opacity: 0.65;
    text-decoration: none;
    outline: none;
}

a:focus,
a:active {
	outline: none;
}

ul {
	list-style: none;
}
ul:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}


/*  Custom *********** */
#page {
    margin: auto;
    //border: 1px solid blue;
}
/* All width */
#head,
#navmenu,
#user-belt > div, 
.main #user-belt > ul,
.home .blog-main,
.main .blog-main,
#colop > div {
	width: 1050px;
}
.main .blog-main {
	width: 1040px;
    padding: 0 5px;
    //border: 1px solid orange;
}

.send-btn,
.link-btn,
.back-btn,
.next-btn,
.edit-btn,
.conf-btn,
.page-ct h2,
.link-box a span,
a.topic-link,
.user a.user-link
/*#user-belt,*/
/*#navmenu,*/
/*.home #cal p:last-of-type*/ {
	font-family: "Meiryo", "游ゴシック", "YuGothic", sans-serif;
	//font-family: "游ゴシック", "YuGothic", "Meiryo", sans-serif;
	//font-family: "Hiragino Maru Gothic Pro", "Meiryo", sans-serif;
}
#navmenu,
.main #user-belt,
/*.home #cal p,
#colop li a*/ {
	//font-family: "Hiragino Maru Gothic Pro", "Meiryo", sans-serif;
    font-family: "Meiryo", "游ゴシック", "YuGothic", sans-serif;
}

#head {
	/* width first specify */
	//width: 1100px;
    margin: 4em auto 4em;
    //height: 500px;
    //border: 1px solid orange;
}
#head h1 {
	width: 585px;
    margin: auto;
    //border: 1px solid green;
    //margin-top: 2em;
}
#head h1 a:hover {
	opacity: 1;
}
#head h1 img {
	width: 100%;
    margin-left: -0.2em;
    //border: 1px solid orange;
}

/* Nav Menu */
#navmenu {
	/* width first specify */
	//width: 1100px;
    margin: 0 auto 1em;
    padding-bottom: 0.2em;
    font-weight: normal;
    //font-family: "Hiragino Maru Gothic ProN", "Meiryo", sans-serif;
    //border: 1px solid red;
}
#navmenu ul {
	display: inline-block;
	list-style: none;
    width: auto;
    //border: 1px solid purple;
    padding: 0;
}
#navmenu ul:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
#navmenu ul.main-m {
	margin-top: 2.6em;
    font-size: 1.05em;
}
#navmenu ul.main-m li {
	float: left;
    background: url(../images/main/menu-side.png) 0 0 no-repeat;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0.2em 1.7em;
    line-height: 1.2em;
}
#navmenu .main-m li:last-of-type {
	background: url(../images/main/menu-side.png) 0 0 no-repeat, url(../images/main/menu-side.png) 100% 0 no-repeat;
}
#navmenu ul.main-m li a {
	display: inline-block;
	color: #555;
    -moz-transition: color 0.3s ease;
	transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
}
#navmenu ul.main-m li a:hover {
    color: #ff3f00;
    opacity: 1;
}
#navmenu ul.main-m li a:hover span {
	color: #ff3f00;
    //opacity: 1;
}
@media all and (-ms-high-contrast:none){ /* IE10-11 */
	#navmenu ul.main-m li a {
  		color: #3a3a3a;
	}
}
@supports (-ms-accelerator:true) { /* Edge */
	#navmenu ul.main-m li a {
  		color: #3a3a3a;
	}
}
#navmenu .main-m li span {
	display: block;
    color: #d90000;
    font-family: 'Delius', cursive;
}
/* LogIn */
#navmenu ul.login-m {
	float: right;
}
#navmenu ul.login-m li {
	float:left;
    padding-left: 1em;
    color: #FF3F00; /* #ff4000 */
    //border: 1px solid red;
}
#navmenu ul.login-m li:last-of-type {
	color: #565656;
}
#navmenu ul.login-m p {
	font-weight: bold;
	font-size: 0.8em;
    line-height: 1.5em;
    margin: 0 0 0.45em 5px;
}
#navmenu ul.login-m li span {
	font-size: 1.2em;
    line-height: 1.3em;
}
#navmenu ul.login-m li a {
	border-radius: 0.6em;
    padding: 0.55em 1.3em 0.55em 3.6em;
    font-weight: bold;
    font-size: 1.0em;
    display: inline-block;
    //box-sizing: border-box;
    //-moz-transition: all 0.2s linear;
	//transition: all 0.2s linear; 
}
#navmenu ul.login-m li:first-of-type a {
	border: 4px solid #ff3f00;
    color: #ff3f00;
    background: url(../images/main/top_icons/login-lock.png) 1em 50% no-repeat;
    background-size: 27px auto;
}
#navmenu ul.login-m li:last-of-type a {
	border: 4px solid #565656;
    color: #565656;
    background: url(../images/main/top_icons/login-file.png) 1em 50% no-repeat;
    background-size: 25px auto;
}
#navmenu ul.login-m li:last-of-type a.logout {
	background: url(../images/main/top_icons/logout-lock.png) 1em 50% no-repeat;
    background-size: 27px auto;
}

@-webkit-keyframes scXy { 
    50% { 
    	//-webkit-transform: translateY(-7px);
        -webkit-transform: scale(0.92);
        //opacity: 1;
	}
    100% {
       	//-webkit-transform: translateY(0);
        -webkit-transform: scale(1);
        //opacity: 0.6;
    }
}
@keyframes scXy {
    50% {
       	transform: scale(0.92);
        //opacity: 1;
    }
    100% {
		transform: scale(1);
        //opacity: 0.7;
    }
}
#navmenu ul.login-m a:hover {
/*	-webkit-transform: rotateZ(20deg);*/ /* transformはinlineには効かない */
/*    transform: rotateZ(20deg);*/
	-webkit-animation: scXy 0.3s ease 0s 1 normal forwards;
	animation: scXy 0.3s ease 0s 1 normal forwards;
    opacity: 0.65;
}

/* Carousel */
.home #cal {
	height: auto;
    padding: 20px 0;
	background: url(../images/main/orange-tiles-s.png);
}
.home #cal > div {
	max-width: 1050px;
    height: 373px;
    padding-top: 13px;
    box-sizing: content-box;
    //background: url(../images/main/banner-r50.png) no-repeat;
    background: url(../images/main/bn-regular.png) no-repeat;
	color: #fff/*#ff3f02*//*#ff3f02*/;
    margin: auto;
    
}
.home #cal p {
	//display: inline-block;
	margin: 0;
    padding: 0;
    font-family: "Hiragino Maru Gothic ProN", "Meiryo", sans-serif;
    text-align: left;
}
.home #cal p:first-of-type {
    font-size: 1.9em;
    line-height: 1.5em;
    letter-spacing: 0.08em;
    //font-family: "Hiragino Maru Gothic ProN", "Meiryo", sans-serif;
}
.home #cal p + hr {
    /*margin: 0;
	width: 47.5%;
    height: 1px;
	background: #fff;
    padding: 0;
    margin: 12px 0 28px;*/
    display: inline-block;
    box-shadow: none;
    border: 1px solid #fff;
    border-width: 0 0 1px 0;
    margin: 0.8em 0 1.5em;
	width: 48.7%;    
}
.home #cal p:last-of-type {
	//display: block;
	color: #fff/*#424242*/;
    font-weight: normal;
    font-size: 1.05em;
    line-height: 0.9em; 
    //font-family:  sans-serif;
    //margin-top: 1.5em;
    letter-spacing: 0.05em;
}
@-webkit-keyframes person { 
    20% {
    	-webkit-transform: translateY(0);
    }
    24% {
    	-webkit-transform: translateY(-12px);
    }
    28% {
    	-webkit-transform: translateY(0);
    }
    32% {
    	-webkit-transform: translateY(-12px);
    }
    36% {
       	-webkit-transform: translateY(0);
    }
}
@keyframes person {
    20% {
    	transform: translateY(0);
    }
    24% {
    	transform: translateY(-12px);
    }
    28% {
    	transform: translateY(0);
    }
    32% {
    	transform: translateY(-12px);
    }
    36% {
       	transform: translateY(0);
    }
}
div.person {
	background: url(../images/main/person.png) no-repeat;
    background-size: 100% auto;
	margin-top: 37px;
    width: 122px;
    height: 136px;
	-webkit-animation: person 4.5s ease 3s infinite normal forwards;
	animation: person 4.5s ease 3s infinite normal forwards;	
}

/* Belt for auth */
#user-belt {
	//height: 3em;
    //font-family: "Hiragino Maru Gothic ProN", "Meiryo", sans-serif;
    background: url(../images/main/foot-tile.png);
    //background: url(../images/main/orange-tiles.png);
    //border: 1px solid #fe5c26;
    //border-width: 2px 0;
    //padding: 0.5em 0;
    font-size: 0.9em;
    
}
.home #user-belt {
    padding: 0.35em 1em 0.45em;
    color: #fff;
    border-radius: 3px;
}
#user-belt > div {
	/* width first specify */
	//width: 1100px;
    height: 3em;
    line-height: 3em;
    margin: auto;
    //border: 1px solid #fff;
    color: #fff;
}
#user-belt > div > span {
	margin: 0 1.8em;
}

/* Solid Page's UserBelt */
.main #user-belt {
	padding: 0.5em 0;
    margin: 1em 0 0;
}
.main #user-belt > ul {
	/* width first specify */
	//width: 1100px;
    margin: 0 auto;
    padding: 0;
    //border: 1px solid red;
}
.main #user-belt > ul > li {
	float: left;
    margin-right: 1em;
}
.main #user-belt > ul > li > a {
	display: inline-block;
	color: #515151;
    text-align: center;
    padding: 0.25em 2.2em 0.15em;
    min-width: 10.5em;
    margin: 0;
    //border: 1px solid #333/*#63524E*/;
    background: #fefefe;
    //color:#fff;
    border-radius: 0.4em;
    //box-sizing: content-box;
}
.main #user-belt > ul > li:last-of-type {
	margin-right: 0;
    float: right;
}
.main #user-belt > ul > li:last-of-type a {
	width: 11.7em;
}
.main #user-belt .dropdown > a > .octicon {
	color: #888;
    font-size: 1.2em;
    margin-left: 0.25em;
    //margin-top: 0.3em;
}
.main #user-belt .dropdown > a > .octicon {
	position: absolute;
    top: 0.45em;
    right: 0.8em;
}
.main #user-belt .dropdown {
	position: relative;
}

.dropdown-menu {
	margin-top: 1em;
    background: #fefefe/*#FDFBF8*/;
    border: 3px solid #5B5D70;
    border-radius: 0.5em;
    box-sizing: border-box;
    min-width: 10.7em;
}
.dropdown-menu li a:before {
	content: "・";
}
.dropdown-menu li a {
	color: #525252;
	-moz-transition: color 0.2s linear;
	transition: color 0.2s linear;
}
.dropdown-menu li a:hover {
	color: #fe5c26;
    background: none;
    opacity: 1;
}
/*.dropdown-menu li a .octicon {*/
/*	margin-right: 0.5em;*/
/*    color: #888;*/
/*}*/

a.arrow-white {
	//margin-left: 1.5em;
	color: #fff;
    text-decoration: none;
    background: url(../images/main/arrow-white.png) 0.5em 47% no-repeat;
}

/*.home #user-belt > div > a {*/
/*	border: 2px solid #fff;*/
/*    border-radius: 0.3em;*/
/*    padding: 0.5em 0.8em 0.5em 2em;*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*    background: url(../images/main/arrow-white.png) 0.5em 47% no-repeat;*/
/*}*/
.home #user-belt > a.arrow-white {
	float: right;
    font-size: 0.95em;
	border: 2px solid #fff;
    border-radius: 0.3em;
    padding: 0 0.8em 0 2.2em;
    color: #fff;
    text-decoration: none;
    background: url(../images/main/arrow-white.png) 0.5em 47% no-repeat;
    background-size: 17px auto;
}

.guest-belt {
	//background: url(../images/main/orange-tiles-s.png);
    //background: url(../images/main/foot-tile.png);
    background: #FF9977;
    height: 7px;
}
#o-belt {
	height: 10px;
    background: url(../images/main/orange-tiles-s.png);
}

.container-fluid {
	background: #fcfaf7;
    margin: 0;
    padding-bottom: 3em;
    /*#FCFAF7*/
    //border: 1px solid green;
}
.container-fluid:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.main .container-fluid {
	padding-bottom: 7em;
}
.navbar .container-fluid {
	//background: url(../images/main/orange-tiles-s.png);	
}

/* blog-main */
.home .blog-main,
.main .blog-main {
	/* width first specify */
	//width: 1100px;
    margin: 1em auto 0;
    padding: 0;
    min-height: 600px;
    //background: #fefefe;
    //border: 1px solid purple;
}
.blog-main:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.main .blog-main {
	margin-top: 1em;
    //padding: 1em 1.8em;
	//margin-bottom: 6em;
}

.home section {
    margin: 0;
}

/* User Area */
.user,
.guest {
	padding: 1.8em 0;
}
.user {
	//border-bottom: 1px solid #838383;
    //border: 1px solid red;
}
.user section.jobs {
	float: left;
	width: 44%;
    height: auto;
    
    min-height: 30em;
    padding: 1.2em 1.5em 1.5em;
	border: 2px solid #838383;
    border-radius: 0.3em;
    background: #fefefe;
    //box-sizing: none;
    //border: 1px solid blue;
}
/*.user section h2 {*/
/*	font-size: 1.1em;*/
/*    margin: 0 0 0.3em;*/
/*    //background: #fcfaf7;*/
/*    //border: 1px solid red;*/
/*}*/
.user section h2 span {
	font-size: 1.3em;
    margin-right: 0.5em;
}
.user section.jobs > div {
	width: 100%;
    min-height: 25em;
    padding: 1.2em 1.5em 1.5em;
	border: 2px solid #838383;
    border-radius: 0.3em;
    background: #fefefe;
}
.user article,
.topics article {
	margin-bottom: 1em;
}
.user article a,
.topics article a {
	display: inline-block;
    //border: 1px solid red;
}
.user article h3,
.topics article h3 {
	font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    color: #6a6a6a;
}
.user article h3 {
	//color: #5e5e5e;
}
.user article small,
.topics article small {
	font-size: 1em;
	color: #37BAB1/*#2E81C9*/;
}
.user article h3 span,
.topics article h3 span {
	font-size: 0.92em;
    //color: #6a6a6a;
}
.user section.contents {
	float: right;
	height: auto;
    width: 50%;
    //margin-top: 1.7em;
    //padding: 0 1.5em 0 1.5em;
    //background: rgba(0,0,0,0.02);
    //border: 2px solid #afafaf;
}
.user section.contents > div {
	//padding: 1em 2em;
    //border: 1px solid #cfcfcf;
    //border-width: 0 1px 1px;
    //border: 1px solid red;
}
.user section.contents .profile {
	margin: 1.8em 0 2.5em;
    //background: url(../images/main/about/entry-top.png) 70% 20% no-repeat;
    //border: 1px solid red;
}
.user section.contents .profile + div {
	background: url(../images/main/about/entry-top.png) 30% 0 no-repeat;
    padding-left: 50%;
    margin-top: 3.5em;
}
.user section.contents .profile + div p {
	font-size: 0.9em;
}
.user section.contents .profile p {
	margin-bottom: 0.5em;
    
}

.user section.contents > div:last-of-type > h2 {
	font-size: 0.97em;
    margin: 1em 0 0.7em;
    padding-bottom: 0;
}
.user section.contents > div:last-of-type .link-box {
	margin-top: 0;
}
.user a.user-link,
.guest a.topic-link {
	font-size: 1.05em;
}
.user a.user-link {
	//display: inline-block;
    background: #6f6f6f;
    background-color: #6f6f6f;
    background-repeat: no-repeat;
    background-position: 90% 45%;
    background-image: url(../images/main/double-arrow.png);
    background: url(../images/main/double-arrow.png) 90% 45% no-repeat, -moz-linear-gradient(top, #8d8d8d, #5f5f5f);
    background: url(../images/main/double-arrow.png) 95% 45% no-repeat, linear-gradient(to bottom, #8d8d8d, #5f5f5f);;
    //background-size: 9% auto;
    //border: 2px solid #6f6f6f;
/*    background: -moz-linear-gradient(top, #8d8d8d, #5f5f5f);*/
/*    background: linear-gradient(to bottom, #8d8d8d, #5f5f5f);*/
	border-radius: 9px;
    text-align: center;
    //box-shadow: -1px -1px 1px #5f5f5f inset, 1px 1px 1px #aaa inset;
    //border: 1px solid #aaa;
    //color: #fff;
    text-decoration: none;
    //font-family: "Hiragino Maru Gothic ProN", "Meiryo", sans-serif;
}
.user section.jobs a.user-link {
	width: 11.5em;
    /*
    float: right;
    text-align: left;
    padding: 0.3em 1.8em 0.35em;
    background-color: #6f6f6f;
    background-repeat: no-repeat;
    background-position: 90% 45%;
    background-image: url(../images/main/double-arrow.png);
    background: url(../images/main/double-arrow.png) 90% 45% no-repeat, -moz-linear-gradient(top, #8d8d8d, #5f5f5f);
    background: url(../images/main/double-arrow.png) 90% 45% no-repeat, linear-gradient(to bottom, #8d8d8d, #5f5f5f);
	*/
}
/*.profile > span {*/
/*	font-size: 8em;*/
/*    color: rgba(0,0,0,0.1);*/
/*    margin-right: 10px;*/
/*    float: right;*/
/*}*/
.user section.contents a.u-link span {
	margin: 0 0.5em 0 0;
    //font-size: 1.5em;
}
/*.user section.contents a.user-link span:last-of-type {*/
/*	float: right;*/
/*}*/
.user section.contents a.u-link {
	display: inline-block;
    width: 35%;
    height: 2.6em;
    line-height: 2.4em;
    font-size: 1em;
    margin: 0 0.7em 0.5em 0;
    padding-left: 1em;
	border-radius: 0.8em;
/*    width: 8em;*/
/*    height: 8em;*/
/*    line-height: 7em;*/
    //border-radius: 50%;
    background:/* url(../images/main/top_icons/0_u.png) 5% 45% no-repeat,*/ /*rgba(245, 235, 233, 0.4)*/#FFF9F2/*#FFF8EF*/;
    //background-size: 8.5%; 
    text-align: left;
    //padding-left: 8%; 
    color: #705950/*#704C3F*//*ORG:#7F635A*/;
    border: 3px solid #F2D3AB/*#F4E1C3*/;
    //background: #FFF1DC;
    //border-radius: 0.5em;
    //border: 2px solid #FFA387;
    
}
.u-link span:first-of-type {
	color: #ff9976;
}
.u-link span:last-of-type {
	float: right;
    line-height: 2.2em
}
.u-link + span {
	font-size: 0.9em;
}
.user section.contents .profile + div a.u-link {
	width: 100%;
    margin: 0;
    height: 2.8em;
/*    background: url(../images/main/top_icons/0_b.png) 5% 45% no-repeat, rgba(245, 235, 233, 0.2);*/
/*    background-size: 12%;*/
}
.user section.contents .profile + div a.u-link span {
	font-size: 1.2em;
    margin-right: 1em;
}
.user .profile {
/*	background: url(../images/main/top_icons/0_u.png) no-repeat;*/
/*    padding-left: 6em;*/
}

/* Guest */
.guest section.topics {
	float: left;
	width: 44%;
    min-height: 30em;
    padding: 1.5em;
	border: 2px solid #838383;
    border-radius: 0.3em;
    background: #fefefe;
}

.guest section h2,
.user section h2 {
	color: #6a6a6a;
    border-bottom: 1px solid #6a6a6a;
    padding-bottom: 0.3em;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.05em;
}

/*.topics article h3 {*/
/*	font-size: 1.05em;*/
/*    line-height: 1.4em;*/
/*    //margin: 0 0 0.8em;*/
/*    color: #6a6a6a;*/
/*}*/
.topics article small {
	color: #FE4A0F;
}
.guest a.topic-link,
.user section.jobs a.user-link {
	display: inline-block;
    margin-top: 0.5em;
	border-radius: 9px;
    text-align: left;
    padding: 0.3em 3em 0.3em 1.5em;
    text-decoration: none;
	width: auto;
    float: right;
	color: #666;
	float: right;
    background: url(../images/main/double-arrow-gray.png) 93% 47% no-repeat;
    border: 3px solid #7c7c7c;
    font-size: 1.05em;
    //font-family: "Hiragino Maru Gothic ProN", "Meiryo", sans-serif;
}
.guest section.contents {
	float: right;
	width: 54%;
    padding: 1.5em 0 1.5em 2.5em;
}
.guest section.contents h2 {
	border-bottom: 0;
}
.link-box {
	/*
	width: 22.5%;
    height: 160px;
    */
    width: 130px;
    height: 160px;
    margin: 1em 3.7% 0 0;
    //background: url(../images/main/wave-tile-gray.png), #75B188;
    float: left;
    //position: relative;
    //border-radius: 10px;
    //box-shadow: -2px -2px 3px #59A272 inset, 2px 2px 3px #59A272 inset;
    //border: 3px solid #59A272;
}
.link-box:nth-of-type(3),
.link-box:last-of-type {
	margin-right: 0;
    //border-color: red;
}
.link-box a {
	display: block;
    //position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    -moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.link-box a span {
	//position: absolute;
    //top: 80%;
    //left: 0;
    color: #fff;
    display: inline-block;
    width: 100%;
    margin: 90% auto 0;
    //font-weight: bold;
    text-align: center;
    font-size: 1em;
    //font-family: "Hiragino Maru Gothic ProN", "Meiryo", sans-serif;
    //line-height: 1.2em;
    //left: 10%;
    //border: 1px solid red;
    -moz-transition: all 0.2s linear;
	transition: all 0.2s linear;       
}
@media screen and (-webkit-min-device-pixel-ratio:0) { /* for Safari not chrome */
  .link-box a span {
    	-webkit-transform: translateZ(0);
	    font-weight: bold;
  }
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .link-box a span {
	font-weight: normal;
  }
}

@-webkit-keyframes scaleXy {
	0% { 
    	-webkit-transform: rotateZ(0);
	}
    100% {
       	-webkit-transform: rotateZ(6deg);
        opacity: 1;
    }
}
@keyframes scaleXy {
	0% { 
		transform: rotateZ(5deg);
	}
    100% {
		transform: rotateZ(5deg);
        opacity: 1;
    }
}

.link-box a:hover {
/*	-webkit-transform: scale(1.3,1.3);*/
/*    transform: scale(1.3,1.3);*/
/*	-webkit-animation: scaleXy 0.3s ease 0s 1 normal forwards;*/
/*	animation: scaleXy 0.3s ease 0s 1 normal forwards;*/
	-webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
    opacity: 0.7;
    //-webkit-transform: scale(0.97);
    //transform: scale(0.97);
}
.link-box a:hover span {
	//opacity: 1;
    //color: #fff;
    //font-weight: bold;
}


.guest section.contents .link-box:first-of-type {
	//background-color: #F7B154;
    //box-shadow: -2px -2px 3px #C88E00 inset, 2px 2px 3px #C88E00 inset;
    //border: 3px solid #C88E00;
	//background: url(../images/main/top_icons/contact.png) 50% 50% no-repeat;
}
.guest section.contents .link-box:first-of-type a {
    background: url(/images/main/top_icons/iroha.png) no-repeat;
}

.guest section.contents .link-box:nth-of-type(2) a {
    background: url(/images/main/top_icons/study.png) no-repeat;
}

.guest section.contents .link-box:nth-of-type(3) a {
	background: url(/images/main/top_icons/blog.png) no-repeat;
}

.guest section.contents .link-box:nth-of-type(4) a {
    background: url(/images/main/top_icons/mail.png) no-repeat;
}

.guest section.contents .link-box:nth-of-type(5) a {
    background: url(/images/main/top_icons/privacy.png) no-repeat;
}

.guest section.contents .link-box:nth-of-type(6) a {
	background: url(/images/main/top_icons/company.png) no-repeat;
}


/* Single Page */
/*.main #cal {*/
/*	//display: none;*/
/*}*/
/*.main section {*/
/*	//margin: 1.5em 1em 2.5em;*/
/*    //width: 80%;*/
/*}*/

.page-ct {
	line-height: 1.7em;
    //border: 1px solid green;
}

.page-ct h1 {
	font-family: "Hiragino Maru Gothic ProN", "Meiryo", sans-serif;
}
@media all and (-ms-high-contrast:none){ /* IE10-11 */
      .page-ct h1 {
        font-weight: bold;
      }
}
@supports (-ms-accelerator:true) { /* Edge */
	.page-ct h1 {
		font-weight: bold;
	}
}
.page-ct h2 {
	//font-weight: bold;
	//font-family: "Hiragino Maru Gothic ProN", "Meiryo", sans-serif;
	//font-family: "游ゴシック", "YuGothic", "Meiryo", sans-serif;
}
.page-ct h3 {
	//font-size: 1.2em;
	//border-left: 1.1em solid #888;     
}

.page-ct h1 {
	background: url(../images/main/wave-tile-white.png), #fe5c26;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 0.07em;
    padding: 0.4em 1em;
    margin-bottom: 1.7em;
}
.page-ct h2 {
	border: 1px solid #fe5c26;
    border-width: 0 0 0 7px;
    padding: 0.5em 0.4em;
    font-size: 1.25em;
    color: #fe5c26;
}
.page-ct > section {
	//border: 1px solid purple;
    margin: 0;
}

.intro-ct:after,
.main-ct:after,
.about .main-ct div:after,
.sub-ct:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}

.intro-ct {
	//border: 1px solid blue;
    padding-bottom: 2em;
}
.intro-ct:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.main-ct {
	//border: 1px solid pink;
}

.about .intro-ct p:first-of-type,
.about .sub-ct p:first-of-type {
	width: 57%;
    margin-top: 1em;
    margin-right: 3.5%;
    padding-left: 0.3em;
    float: left;
    //border: 1px solid red;
}
.about .sub-ct p:first-of-type {
	margin-top: 0em;
}
.about .intro-ct img,
.about .sub-ct img {
	max-width: 335px;
    height: auto;
}
.about .intro-ct img {
	margin: -2em 2em 0 0;
    float: right;
}
.about .main-ct {
	width: 100%;
    margin: 5em auto 0;
}
.about .main-ct div {
	border: 1px solid #fe5c26;
    width: 85%;
    margin: 0 auto 8em;
    padding: 0 2em 2em;
}
.about .main-ct div h3 {
	font-weight: 300;
    font-size: 1.5em;
	font-family: 'Josefin Sans', sans-serif;
	background: url(../images/main/wave-tile-white.png), #fe5c26;
    color: #fff;
    width: 4.5em;
    height: 4.5em;
    line-height: 4.5em;
    border-radius: 50%;
    text-align: center;
    margin: -2.3em auto 0.5em;
}
.about .main-ct div h3 span {
	font-size: 1.35em;
    margin-left: 0.15em;
}
.about .main-ct div p {
	float: left;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.7em;
    color: #5a5a5a;
    width: 45%;
    margin-top: 1em;
    //border: 1px solid red;
}
.about .main-ct div img {
	float: right;
    margin-top: 0;
}
.about .main-ct div:last-of-type img {
	margin-right: 2.5em;
}

/* Privacy */
.privacy p {
	margin-left: 3em;
    padding-left: 0.6em;
    margin-bottom: 2em;
}
.privacy ul {
	margin-left: 3em;
}
.privacy section.main-ct {
    padding-left: 23%;
    background: url(../images/main/top_icons/lock-gray-lg.png) 3% 3% no-repeat;
    background-size: 160px auto;
}

/* Company */
.company section.main-ct {
	padding-left: 21%;
    background: url(../images/main/top_icons/company-gray-lg.png) 1% 3% no-repeat;
    background-size: 160px auto;
}


/* Topics & study */
/*
.page-ct h1 {
	max-width: 30%;
    line-height: 1.4em;
    padding: 1em 1em;
    display: inline-block;
}
*/
.page-ct > .main-head {
	min-height: 13em;
    margin-bottom: 2em;
    //border: 1px solid red;
}
.main-head h1,
h1.main-title {
	//max-width: 30%;
    line-height: 1.4em;
    padding: 1.2em 2.3em;
    display: inline-block;
	margin-bottom: 0.7em;
}
.main-head p {
	font-size: 1em;
	color: #66625E;
    margin-top: 0.6em;
}
.topics .main-head {
	background: url(../images/main/about/file.png) 40% 0 no-repeat;
    background-size: 116px auto;
}
.study .main-head {
	background: url(../images/main/top_icons/study-gray-lg3.png) 40% 0 no-repeat;
    background-size: 140px auto;
}
/*.job .main-head {*/
/*	background: url(../images/main/about/company.png) 40% 0 no-repeat;*/
/*    background-size: 140px auto;*/
/*}*/
.job .main-head img {
	margin-left: 10em;
    width: 140px;
    height: auto;
    //-webkit-transform: rotateZ(-3deg);
    //transform: rotateZ(-3deg);
}
.blog .main-head {
	background: url(../images/main/top_icons/blog-gray-lg6.png) 35% -5px no-repeat;
    background-size: 140px auto;
    min-height: 10em;
    margin-bottom: 1em;
}
.main-head .pagination {
	margin-top: 2em;
    margin-bottom: 2em;
    //border: 1px solid #000;
}

article h2 a {
	color: #fe5c26;
    //text-decoration: underline;
}
article.archive {
	border-bottom: 2px dotted #aaa;
    margin-bottom: 4em;
    padding: 0 3.5em 4em 2.5em;
    min-height: 10em;
}
article.archive:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.blog article.archive {
	padding: 0 0 3em 0;
}
.archive > div img {
	display: none;
}
.archive:after,
.archive header:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.archive header {
	float: left;
    width: 52%;
    //border: 1px solid purple;
    //vertical-align: middle;
}
.archive > div {
	float: right;
    width: 43%;
    //border: 1px solid green;
}
.dots {
	//display: inline-block;
	letter-spacing: -0.5em;
    color: #424242;
}
.more {
	//padding: 0.5em 0;
    //margin: 0.7em 0;
    //border-radius: 5px;
    color: #fe5c26;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.6em;
    font-family: 'Josefin Sans', sans-serif;
}
.archive header small,
.archive header h2 {
	display: block;
    margin: 0;
    
    line-height: 1.4em;
    color: #888;
	float: left;
    //border: 1px solid blue;
}
.archive header small {
	display: block;
    width: 4.8em;
    height: 4.8em;
    padding: 0.9em 0;
    font-size: 1.3em;
    line-height: 1.3em;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}
.archive header small em {
	font-style: normal;
    font-size: 0.82em;
}
.archive header h2 {
	width: 77%;
	padding: 1% 0 0.3em 0.4em;
    margin-left: 1em;
    font-size: 1.25em;
    //height: 5.5em;
    //margin-top: 1.7em;
    //vertical-align: middle;
    //border: 1px solid red;
    border: none;
}
.archive h2 a {
	display: inline-block;
}
.archive h2 a:hover,
.more:hover,
.back-tx:hover {
	color: #FF9B7A;
    //text-decoration: underline;
}
/*
.single header small {
	display: block;
    margin: auto;
	width: 4.5em;
    height: 4.5em;
    padding: 0.9em 0;
    font-size: 1.6em;
    line-height: 1.3em;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}
*/


.topics header small,
.topic-sgl header small {
	background: url(../images/main/wave-tile-white.png), #80CC4D; /* green */
}
.study header small,
.study-sgl header small  {
	background: url(../images/main/wave-tile-white.png), #529ad7; /* blue */
}
.job header small,
.job-sgl header small  {
	background: url(../images/main/wave-tile-white.png), #529ad7; /* blue */
}
.blog header small,
.blog-sgl header small {
	background: url(../images/main/wave-tile-white.png), #AF9889; /* #F7B831 */
}

/* blog */
#primary {
	//border: 1px solid green;
    width: 67%;
    float: left;
}
#secondary {
	//border: 1px solid blue;
    width: 24%;
    float: right;
}
.blog header,
.blog header h2,
.blog article > div {
	width: 100%;
}
.blog header small,
.blog header h2,
.blog article > div {
	float: none;
}

.blog header small,
.blog-sgl header small {
	color: #fff;
    width: 4.7em;
    height: 4.7em;
    font-size: 1.2em;
    margin-bottom: 0.7em;
    padding-top: 0.85em;
    display: block;
    border-radius: 50%;
    text-align: center;
/*	color: #888;*/
/*    width: 22%;*/
/*    font-size: 1.1em;*/
/*    border-radius: 0;*/
/*    height: auto;*/
/*    line-height: 1.6em;*/
/*    text-align: left;*/
}
.blog header h2 {
	//width: 100%;
	padding: 0.3em 0 0.3em 0.4em;
    margin: 0 0 0.8em 0;
    border-left: 5px solid #fe5c26;
    font-size: 1.3em;
}
.blog article.archive {
	padding-right: 1em;
    padding-left: 1.5em;
}
.blog-sgl {
	padding-left: 0.7em;
}
/*.blog article > div,*/
.blog-sgl > div {
	width: 97%;
}
.blog footer ul,
.blog-sgl footer ul {
	list-style: none;
    //height: 5em;
    padding: 0;
    margin: 1em 0 0;
    font-size: 0.95em;
}
.blog-sgl header {
	margin-bottom: 2em;
}
.blog-sgl header h2 {
	font-size: 1.4em;
}
.blog-sgl header small {
	//font-size: 1.2em;
    
}
.blog-sgl footer {
	border-top: 1px dotted #aaa;
    margin-top: 3em;
}

aside {
	margin-bottom: 2.5em;
}
aside h3 {
	color: #A59891/*#AA9992*/;
    border-bottom: 1px solid #A59891;
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 0.5em;
}
aside h3 .octicon {
	margin-right: 0.3em;
    font-size: 1.4em;
    font-weight: bold;
}
aside ul {
	list-style: circle;
}
aside li {
	line-height: 1.4em;
    margin-bottom: 0.8em;
}


/* Single */
.single {
	margin-top: 4em;
}
.single header {
	text-align: center;
    border-bottom: 2px dotted #aaa;
    padding-bottom: 1.0em;
    margin-bottom: 2em;
}
.single header:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.single.topic-sgl {
	background: url(../images/main/about/file.png) 26% 0 no-repeat;
    background-size: 116px auto;
}
.single.study-sgl {
	background: url(../images/main/top_icons/study-gray-lg3.png) 30% 1% no-repeat;
    //background: url(../images/main/about/pc.png) 30% 1% no-repeat;
    background-size: 100px auto;
}
.single.job-sgl {
	background: url(../images/main/about/company.png) 3% 1% no-repeat;
    background-size: 140px auto;
}
.single header small {
	display: block;
    margin: auto;
	width: 4.5em;
    height: 4.5em;
    padding: 0.9em 0;
    font-size: 1.6em;
    line-height: 1.3em;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

.single header small em,
.blog-sgl header small em {
	font-style: normal;
    font-size: 0.8em;
}
.single header h2 {
	clear: both;
	color: #fe5c26;
    font-size: 1.9em;
    width: 82%;
    margin: 2em auto 0.5em;
    text-align: left;
    //background: url(../images/main/top_icons/study-gray.png) no-repeat;
}
.single header h2:before {
    //content: url(../images/main/top_icons/study-gray.png);
    margin-right: 0.5em;
    //margin-bottom: -1em;
    font-size: 0.9em;
    line-height: 0.5em;
}
.single > div {
	width: 73%;
    margin: auto;
}
.single section h3 {
	line-height: 1.4em;
}
.back-tx {
	display: inline-block;
	background: url(../images/main/arrow-red-back.png) 0 49% no-repeat;
    background-size: 18px 18px;
    color: #fe5c26;
    padding-left: 1.6em;
    //width: 10em;
    margin: 1em auto;
    //border: 1px solid red;
    //height: 2em;
}

.job-sgl header h2,
.job-sgl header h3 {
	width: 100%;
    text-align: left;
    padding-left: 6px;
}
.job-sgl section {
	text-align: left;
    margin-bottom: 2em;
    width: 100%;
    padding-left: 6px;
}
.job-sgl section:last-of-type {
	width: 100%;
    margin-top: 3.5em;
    //border: 1px solid red;
}
.job-sgl section:last-of-type:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.job-sgl section:last-of-type > .imghere {
	width: 220px;
    min-height: 220px;
    line-height: 15em;
    text-align: center;
    float: left;
    //border: 1px dotted red;
    //background: #FDFAE3;
    margin-right: 2.5em;
    font-family: 'Josefin Sans', sans-serif;
}
.job-sgl section:last-of-type > .imghere > img {
	width: 100%;
    height: auto;
}
.job-sgl .table-responsive {
	//float: right;
    //width: 77%;
}

/* Study */
/*
.study header {
	width: 50%;
}
.study header small {
    width: 5.5em;
    height: 5.5em;
    line-height: 5.5em;
    text-align: center;
    background: #529ad7;
    border-radius: 50%;
    color: #fff;
}
.study header h2 {
	width: 77%;
	padding: 0.3em 0 0.3em 0.4em;
    margin-left: 0.7em;
    margin-top: 1.7em;
    border: 1px solid red;
}
*/


/* Pagination */
/* app.cssに直接記述 */


/* Footer */
#colop {
	padding-bottom: 1em;
    //border: 3px solid green;
    background: url(../images/main/foot-tile.png);
    //position: relative;
}
#colop > div {
	/* width first specify */
	//width: 1100px;
	padding: 3.8em 0;
    margin: auto;
    //position: relative;
    //border: 1px solid red;
}
#colop > div > a {
	float: left;
    //border: 1px solid red;
}
#colop ul {
	float: left;
    font-size: 1em;
    letter-spacing: 0.03em;
	list-style: none;
}
#colop ul:after {
	display:block;
    clear: both;
    content: "";
    height: 0;
}
#colop div > ul > li {
	float: left;
    margin: 0;
    //border: 1px solid red;
}
#colop div > ul ul {
	padding-left: 1.2em;
}
#colop div > ul ul li {
	//border: 1px solid blue;
    margin: 0;
}
#colop li a {
	padding: 0.6em 2.5em;
}
#colop > p {
	text-align: center;
	color: #fff;
    font-weight: 400;
    font-size:1.3em;
    font-family: 'Josefin Sans', sans-serif;
}
#colop span.toTop {
	display: none;
	position: fixed;
    //color: #FF9977;
    color: #fff;
    right: 0.85em;
    bottom: 0.6em;
    //border: 2px solid #FF9977;
    background: rgba(0,0,0,0.5);
    border-radius: 0.3em;
    z-index: 999;
    font-size: 2.1em;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    text-align: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
/*    -moz-transition: all 0.2s linear;*/
/*    transition: all 0.2s linear;*/
}
#colop span.toTop:hover {
	opacity: 0.7;
}
#colop span.toTop img {
	width: 0.5em;
    height: auto;
    //border: 1px solid #fff;
}


/* Form ********************** */
.register,
.contact,
.job-entry,
.study-entry {
	width: 100%; /* ORG 87% */
    margin: auto;
}
/* ORG
h2.panel-head {
	font-weight: bold;
	font-size: 1.1em;
    //line-height: 1.5em;
    font-family: "Hiragino Maru Gothic Pro", "Meiryo", sans-serif;
    padding-bottom: 0.5em;
	color: #ff5a25;
	//border-bottom: 3px solid #FF9875;
    background: url(../images/main/orange-tiles-s.png) 0 90% repeat-x;
    background-size: 15px;
}
h2.panel-head img {
	margin-bottom: 0.5em;
    margin-right: 0.5em;
}
*/
.contact .main-head,
.register .main-head,
.study-entry .main-head,
.job-entry .main-head {
	min-height: 8em;
    margin-bottom: 4em;
    //border: 1px solid red;
}
.contact .main-head {
	background: url(../images/main/form/mail.png) 37% -10px no-repeat;
    //background: url(../images/main/about/mail.png) 30% 10px no-repeat;
    background-size: 130px auto;
}
.register .main-head {
	background: url(../images/main/about/pc.png) 37% 20px no-repeat;
    background-size: 148px auto;
}

.job-entry .main-head {
/*	background: url(../images/main/about/entry.png) 87% 15px no-repeat;*/
/*    background-size: 91px auto;*/
}
.study-entry .main-head img {
	margin-left: 2em;
    width: 140px;
    height: auto;
    -webkit-transform: rotateZ(-5deg);
}
.job-entry .main-head img {
	margin-left: 2em;
    width: 85px;
    height: auto;
}
.study-entry .main-head p,
.job-entry .main-head p {
	margin-top: 0.3em;
    margin-left: 0.3em;
}


.movement {
	//border: 1px solid red;
    margin: 1.7em 0 2.5em;
}
.movement:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.movement > div {
	float: left;
    margin-right: 2%;
    background: #e7e7e7;
    width: 32%;
    line-height: 3.4em; /*2.8em*/
    //font-weight: bold;
	font-size: 1.05em;
    //font-family: "Hiragino Maru Gothic Pro", "Meiryo", sans-serif;
    padding: 0 3%;
    color: #afafaf;
    //border: 1px solid #BC9A8D;
    border: 5px solid #e7e7e7;
    border-radius: 0.5em;
    box-sizing: border-box;
}
.movement > div:last-of-type {
	margin-right: 0;
    
}
.movement > div.here-is {
/*	background: #F89C39;*/
	background: url(../images/main/wave-tile-white.png);
	/*background: url(../images/main/wave-tile-white.png), #ED714F;*/ /* wave-tile-5 */
    color: #706356;
    border: 5px solid #F47856;
    border-radius: 0.5em;
    //font-weight: bold;
    //font-size: 1.1em;
}
.movement > div span.step {
	font-weight: 400;
	font-size: 1.15em;
    font-family: 'Josefin Sans', sans-serif;
    //line-height: 3.7em;
	border-right: 2px solid #999;
    padding: 0.4em 6.0% 0.2em 0;
    margin: 2em 6.0% 0 0.2em;
}
.movement > div span.step em {
	//font-weight: bold;
    //display: inline-block;
	font-size: 1.4em;
    //line-height: 1.4em;
    font-style: normal;
    margin: 0 0 0 0.2em;
    //padding-top: 1.5em;
}

.movement > div span.octicon {
	font-size: 1.7em;
    margin-right: 0.5em;
}
.movement > div.here-is {
	font-size: 1.1em;
    margin-top: -0.12em;
	//box-shadow: 1px 1px 3px #aaa;
}
.movement > div.here-is span.step {
	border-color: #706356;
}
.movement > div.here-is span.octicon {
	color: #F45B30;
}

.form-d {
	//width: 100%;
}
.table-d {
	//border: 1px solid red;
    width: 100%;
}
.table-d tbody {
	border: 1px solid #999;
}

.table-d col.cth {
	width: 30%;
}
.table-d col.ctd {
	//width: 50%;
    //background: #fafafa;
}
.table-d tr {
	//padding: 2em 0.5em;
    border-bottom: 1px solid #ddd;
    //width: 100%;
}
.table-d tr:last-of-type {
	border-bottom: 1px solid #999;
}
.contact .table-d tr:last-of-type
.study-entry .table-d tr:last-of-type
/*.job-entry .table-d tr:last-of-type*/ {
	height: 12em;
}
.table-d th {
	background: #fff1dc;
    //vertical-align: top;
    padding: 1.2em 1.3em 1.2em 1.7em;
    color: #555;
    text-align: left;
    font-weight: normal;
}
.table-d td {
	padding: 1.2em 3.5em;
}
.table-d th em {
	font-style: normal;
    font-size: 0.9em;
	background: #ee7250;
    padding: 0.03em 0.8em 0.05em;
    border-radius: 0.5em;
    color: #fff;
    float: right;
}

.form-d input,
.form-d textarea {
	border-radius: 0;
    box-shadow: none;
    border: 1px solid #aaa;
    //font-family: "游ゴシック", "YuGothic", "Meiryo", sans-serif;
}
.form-d input {
	width: 75%;
	height: 2.8em;
    line-height: 1.5em;
}
.form-d textarea {
	width: 95%;
	resize: vertical;
}
span.t-down {
	position: relative;
    display: inline;
    //left: -15px;
}
span.t-down:after {
	display: inline-block;
	content: "";
	position: absolute;
	//top: -3px;
	right: 0;
	width: 15px;
	height: 29px;
	margin: 0;
    padding: 0;
	background: url(../images/main/triangle_down.png) 1px 50% no-repeat, #aaa;
	background-size: 13px, 13px;
	pointer-events: none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	::i-block-chrome, span.t-down:after {
		top: -6px;
	}
}
@-moz-document url-prefix() { /* FireFox */
  span.t-down:after {
    top: -5px;
  }
}
@media all and (-ms-high-contrast:none){ /* IE10-11 */
  span.t-down:after {
    top: -3px;
  }
}
@supports (-ms-accelerator:true) { /* Edge */
  span.t-down:after {
    top: -3px;
    //height: 29px;
  }
}

.form-d select {
    width: 5em;
    height: 30px;
	padding: 0 3px;
    font-size: 0.85em;
    color: #424242;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #aaa;
    border-radius: 0;
    //line-height: 1.5em;
	//background: #eee;
	//background: url(../images/main/bottom-arrow.png) 97% 50% no-repeat;
	//background: url(arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
	background-size: 11px, 11px;
}
.form-d select::-ms-expand {
	display: none;
}
.form-d select[name="birth_year"],
.form-d select[name="get_year"] {
	width: 6.5em;
}
.form-d input[type="file"] {
	border: none;
    height: auto;
    line-height: 1.2em;
    background: none;
}
.form-d span.wrap-radio input[type="radio"] {
	//display: inline-block;
    opacity: 0; /* 透明に */
    width: 30px;
  	margin-left: -30px;
  	height: auto;
    line-height: auto;
    /*
    width: auto;
	height: auto;
    line-height: auto;
    margin: 0 0.7em 0 0;
    padding-bottom: 0.7em;
    */
}
.form-d span.wrap-radio label {
	cursor: pointer;
  	font-size: 14px;
  	line-height: 1;
  	position: relative; /* 絶対配置の基準位置 */
    padding-left: 30px; /* ボタンと余白の幅分空ける */
    margin-right: 1.2em; 
}
.form-d span.wrap-radio label:before {
	display: inline-block;
  	content: "";
  	width: 20px;
  	height: 20px;
  	background-color: #fff;
  	border: 1px solid #999;
  	border-radius: 50%;
  	position: absolute; /* 絶対配置 */
  	top: 50%;
  	left: 0;
  	margin-top: -10px; /* 半径分上に */
}
.form-d span.wrap-radio input[type="radio"]:checked + label:after {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #999;
    border-radius: 50%;
    position: absolute; /* 絶対配置 */
    top: 50%;
    left: 5px; 
    margin-top: -5px; /* 半径分上に */
}
.form-d span.wrap-radio input[type="radio"]:focus + label:before {
  //box-shadow: 0 0 1px 3px #ff6699; /* ハイライト表示 */
}


.send-btn,
.link-btn,
.back-btn,
.next-btn {
	border-radius: 14px;
    text-align: center;
    //font-weight: bold;
    font-size: 1.1em;
    //font-family: "Hiragino Maru Gothic Pro", "Meiryo", sans-serif;
    letter-spacing: 0.05em;
    margin-top: 2em;
    padding: 0.3em 0 0.2em;
    color: #fff;
    text-decoration: none;
}

.next-btn {
	min-width: 11em;
    padding: 0 2.2em;
    line-height: 3.5em;
/*    background: #F48013;*/
/*    background: -moz-linear-gradient(top, #F2A048, #F48013);*/
	//background: url(../images/main/wave-tile-white.png), #F9F2ED;
    background: #F79B39;
	/*background: url(../images/main/wave-tile-white.png), #ED714F;*/ /* wave-tile-5 */
    border-radius: 0.5em;
/*    color: #706356;*/
/*    border: 5px solid #F47856;*/
/*    border-radius: 0.5em;*/
    //font-weight: bold;
    border: 2px solid #F79B39;
    //border: 5px solid #AE9888;
    //color: #706356;
    color: #fff;
}

.send-btn {
    /*
	background: url(../images/main/orange-btn.png) no-repeat;
    color: #fff;
    text-align: center;
    font-size: 1em;
    font-family: "Hiragino Maru Gothic Pro", "Meiryo", sans-serif;
    padding: 0.55em 0 0.5em;
    margin-top: 2em;
    border: none;
    box-shadow: none;
    */
    width: 190px;
    background: #F48013;
    background: url(../images/main/wave-tile-white-1.png), -webkit-linear-gradient(top, #F2A048, #F48013);
    background: url(../images/main/wave-tile-white-1.png), -moz-linear-gradient(top, #F2A048, #F48013);
    background: url(../images/main/wave-tile-white-1.png), -ms-linear-gradient(top, #F2A048, #F48013);
    background: url(../images/main/wave-tile-white-1.png), -o-linear-gradient(top, #F2A048, #F48013);
    background: url(../images/main/wave-tile-white-1.png), linear-gradient(to bottom, #F2A048, #F48013);
    box-shadow: -1px -1px 1px #F48013 inset, 1px 1px 1px #F7D6AB inset;
    border: 1px solid #f7720b;
}
/* <link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'> */
.link-btn {
	display: inline-block;
	width: 150px;
    background: #529bd8;
    background: url(../images/main/wave-tile-white-1.png), -webkit-linear-gradient(top, #90bee3, #529bd8);
    background: url(../images/main/wave-tile-white-1.png), -moz-linear-gradient(top, #F2A857, #F48013);
    background: url(../images/main/wave-tile-white-1.png), -ms-linear-gradient(top, #F2A857, #F48013);
    background: url(../images/main/wave-tile-white-1.png), -o-linear-gradient(top, #F2A857, #F48013);
    background: url(../images/main/wave-tile-white-1.png), linear-gradient(to bottom, #90bee3, #529bd8);
	/*background: url(../images/main/blue-btn.png) no-repeat;*/
    box-shadow: -1px -1px 1px #529CD8 inset, 1px 1px 1px #A6CAE9 inset;
    border: 1px solid #529CD8;
    font-size: 0.95em;
    margin-top: 1.2em;
    margin-left: 0.5em;
    padding: 0.3em 0 0.2em;
}
.back-btn {
	min-width: 11em;
    padding: 0 2.5em;
    line-height: 3.5em;
    background: #fbfbfb;
    border-radius: 0.5em;
/*    color: #706356;*/
/*    border: 5px solid #F47856;*/
/*    border-radius: 0.5em;*/
    font-weight: bold;
    //border: none;
    border: 2px solid #999;
    //color: #706356;
    color: #999;
    box-sizing: border-box;

/*
	width: 190px;
    color: #777;
    background: #fafafa;
    background: url(../images/main/wave-tile-white-1.png), -moz-linear-gradient(top, #fff, #eee);
    background: url(../images/main/wave-tile-white-1.png), linear-gradient(to bottom, #fff, #eee);
    box-shadow: -1px -1px 1px #eee inset, 1px 1px 1px #eee inset;
    border: 1px solid #aaa;
*/
}
.send-btn:hover,
.link-btn:hover,
.back-btn:hover {
	opacity: 0.7;
    text-decoration: none;
  /*
  background: #ccc;
  text-decoration: none;
  border: 1px solid #ccc;
  box-shadow: none;
  */
}

.alert {
	border-radius: 5px;
}
.alert-success,
.alert-danger {
	background-color: #fefefe;
}

/* 確認画面 */
.wrap-b {
	width: 40%;
    margin: auto;
}
.wrap-b:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}

/* 完了画面 */
.send-end {
	text-align: center;
    margin: 4em 0;
    line-height: 2.0em;
}
.send-end img {
	margin-bottom: 1em;
}
.send-end span {
	color: #fe3f00;
    font-weight: bold;
    font-size: 1.4em;
}
.send-end + div {
	margin: 6em auto 4em;
    //border: 1px solid red;
}
.send-end + div .edit-btn {
	display: block;
    width: 10em;
    margin: auto;
}
.send-end + div .octicon {
	margin-right: 0.3em;
}
.register .send-end img {
	float: left;
    width: 145px;
    height: auto;
    margin: 1em 4em 0 20%;
    
}
.register .send-end > p {
	text-align: left;
}
.register .send-end > p > strong {
	display: inline-block;
	margin: 0.8em 0;
}

/* LogIn ***************** */
.inBack {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    z-index:999;
}
.addPanel {
	position: absolute;
    z-index: 9999;
    //top: 250px;
    //left: 30%;
    opacity: 0;
    //display: none;
    margin: 0;
}
.addPanel label {
	//color: #2a2a2a;
}
.inBack > .octicon {
	position: absolute;
    z-index: 10000;
    opacity: 0;
    //display: none;
    font-size:2.5em;
    font-weight: normal;
    color:#fefefe;
}
.wrap-login {
	position: relative;
}
.wrap-login h1,
.wrap-reset h1 {
	background: url(../images/main/wave-tile-white.png), #fe5c26;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 0.07em;
    margin-bottom: 0;
    line-height: 1.4em;
    padding: 1.2em 2.5em;
    display: inline-block;
    font-weight: bold;
    font-family: "Hiragino Maru Gothic Pro", "Meiryo", sans-serif;
}
.panel {
	width: 540px; /* 50% */
    padding: 17px;
    border-bottom: 0;
    box-shadow: none;
    margin: 4% auto 0;
    //margin-left: 420px;
    background: url(../images/main/orange-tiles-s.png);
    //border: 1px solid red;
    border-radius: 1em;
}
.wrap-reset .form-group:nth-of-type(3) .control-label {
	line-height: 1.4em;
}
.panel a {
	-moz-transition: none;
    transition: none;
}
.new-regist {
    position: absolute;
    top: 55%;
    left: 0.5em;
}
.new-regist a {
	display: inline-block;
}
.new-regist p {
	width: 13.5em;
    //height: 13em;
    font-size: 1em;
    font-weight: bold;
    color: #705B54;
    background: #FFFCFB;
    border: 10px solid #FFA286; /* #706764 */
    border-radius: 1.5em;
    padding: 0.5em 1.5em 0.5em;
    text-align: left;
    -webkit-transform: rotateZ(-9deg);
    transform: rotateZ(-9deg);
}
.new-regist p span {
	font-size: 1.2em;
    text-decoration: underline;
    margin-left: 1.5em;
}
.new-regist img {
	display: block;
    width: 100px;
    height: auto;
    margin: 0em 0 0.3em 1em;
}

.panel .panel-heading {
	//background: url(../images/main/orange-tiles-s.png);
    color: #fff;
    //font-weight: bold;
    font-size: 1.05em;
    line-height: 2.0em;
    font-family: "Hiragino Maru Gothic Pro", "Meiryo", sans-serif;
    padding: 0.7em 0.8em 0;
    margin-bottom: 0.3em;
    border-radius: 0.5em 0.5em 0 0;
    //border: solid #fe5c26;
    border-width: 2px 2px 0 2px;
/*    padding: 0.4em 0.8em 0.3em;*/
/*    margin-bottom: 1.2em;*/
/*	border-radius: 0;*/
}
.panel-heading h2 {
	display: block;
	width: 100px;
    height: 100px;
    margin: -1.8em auto 0;
    //border: 1px solid #aaa;
    background: url(../images/main/top_icons/lock-wh.png) center no-repeat, url(../images/main/orange-tiles-s.png) 10% 0;
    //background-size: 65px auto;
	border-radius: 50%;
	//margin-right: 0.7em;
    //margin-bottom: 0.25em;
}
.panel .panel-body {
	border: solid #EF7857; /*#AFA199*/
    background: #FDFBF8;
    border-width: 2px;
    border-radius: 0.5em;
/*	border: 1px solid #aaa;*/
/*    padding: 1em 0.5em 0 1.5em;*/
}
.panel-body .conf-btn {
	min-width: 11em;
    line-height: 2.8em;
    font-size: 1.2em;
    padding: 0 2.8em;
    border-width: 5px;
    //border-color: #FD8466;
    display: block;
    margin: 2em auto 0;
    //border: 1px solid red;
}
.panel .control-label {
	text-align: left;
    margin: 0;
    padding: 0;
    height: 2.8em;
    line-height: 2.8em;
}
.panel input.form-control {
	border: 3px solid #9f9f9f;
    height: 2.8em;
    line-height: 1.5em;
    width: 100%;
    border-radius: 0.8em;
    box-shadow: none;
}

.panel input[type="checkbox"] {
	top: 7px;
    left: 15px;
    width: 17px;
    height: 17px;
}
.panel p {
	margin: 1.0em 0 3em;
}
.panel .form-group {
	margin: 1.5em 0 1.5em;
}
.panel .forget-pass {
	margin-bottom: 2em;
    color: #A59891/*#AA9992*/;
}

@media all and (-ms-high-contrast:none){ /* IE10-11 */
    .panel {
    	width: 540px;
    }
    .panel input[type="checkbox"] {
        margin-top: 0.25em; 
    }
}
@supports (-ms-accelerator:true) { /* Edge */
	.panel {
    	width: 540px;
    }
    .panel input[type="checkbox"] {
        margin-top: 0.25em; 
    }
}


/* Normal Table */
.table col:first-of-type,
.table thead {
    background: url(../images/main/wave-tile-gray.png), #FFFBF9;
}
.company-table tbody tr th,
.company-table tbody tr td {
	height: 6em;
    text-align: left;
    padding: 1.6em 1.5em;
}
.company-table tbody tr th {
	padding-left: 1.5em;
}
.company-table tbody tr td {
	line-height: 1.6em;
}
.user-table tbody tr th,
.user-table tbody tr td {
	text-align: left;
    vertical-align: top;
	height: 4em;
    padding: 1em;
}
.user-table tbody tr th {
	width: 21%;
    padding-left: 1.5em;
}
.entry-table thead tr th {
	text-align: left;
    padding: 0 0 0 0.5em;
    vertical-align: middle;
	height: 6em;
}
.entry-table tbody tr td {
	height: 5em;
}
.user-table tbody tr th,
.entry-table thead tr th,
.company-table tbody tr th {
	color: #66544F;
}
.user-table tbody tr td,
.entry-table tbody tr td,
.company-table tbody tr td {
	background: #fcfcfc;
}

/* btn */
section.userinfo {
	//position: relative;
}
section.userinfo:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.userinfo h2 {
	width: 15%;
    float: left;
    margin: 0;
    //padding:0;
}
.userinfo table {
	float: right;
}
.edit-btn,
.conf-btn {
	color: #704F43/*#704C3F*//*ORG:#7F635A*/;
    background: #FFF1DC;
    border-radius: 0.5em;
    border: 2px solid #FFA387;
    box-sizing: border-box;
    //font-family: "Hiragino Maru Gothic ProN", "Meiryo", sans-serif;
}
.edit-btn {
/*	position: absolute;*/
/*    top: -3px;*/
/*    right: 0;*/
    text-align: center;
    padding: 0.5em 2em 0.4em;
    text-decoration: none;
	width: auto;
    margin-bottom: 0.5em;
    border-width: 3px;
    //float: right;
	//color: #666;
	
    //background: url(../images/main/double-arrow-gray.png) 93% 47% no-repeat;
    //border: 3px solid #7c7c7c;
    /*
	background: #52C4A2;
    padding: 0.5em 1.4em;
    border-radius: 0.5em;
    font-size: 0.95em;
    color: #fff;
    float: right;
    */
}
.conf-btn {
	display: inline-block;
	padding: 0.3em 0.5em;
    font-size: 0.85em;
    margin: auto;
}
.company-table .edit-btn {
	display: inline-block;
    padding: 0.8em 1.5em;
}

.single header .edit-btn,
.single header .done-btn {
	//display: block;
	float: right;
    font-size: 1.05em;
    margin-bottom: 2em;
    //padding: 1em 2em;
}
.single footer .edit-btn,
.single footer .done-btn {
	display: block;
    width: 16em;
    font-size: 1.05em;
    margin: 3em auto 2em;
    padding: 1em 2em;
}

.single .done-btn {
	text-align: center;
    padding: 0.5em 2em 0.4em;
    text-decoration: none;
	width: auto;
    margin-bottom: 0.5em;
    background: #e7e7e7;
    color: #8a8a8a;
    border-radius: 0.5em;
}

img.left {
	float: left;
    margin-right: 1.2em;
    margin-bottom: 1.2em;
}

img.center {
	display: block;
    margin: 1.2em auto;
}

img.right {
	float: right;
    margin-left: 1.2em;
    margin-bottom: 1.2em;
}

img.large {
	width: 100%;
    height: auto;
}

img.middle {
	width: 450px;
    height: auto;
}

img.small {
	width: 150px;
    height: auto;
}





