/*
main css
*/
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}
body {
    font-size: 1.6em;
	line-height: 1.65em;
    background: #fffdfc; /* #FFFDFC */
    color: #6F4F42;
    margin: 0;
    font-family: "Meiryo", "游ゴシック", "YuGothic", sans-serif;
    /* Win10 Default: "Yu Gothic UI", */
}

input,
textarea { /* only Win */
	color: #5a5a5a;
    background: #fffefe;
	font-family: "Meiryo", sans-serif;
}

@media all and (-ms-high-contrast:none){ /* IE10-11 */
      body {
        font-family: "Meiryo", sans-serif;
      }
}
@supports (-ms-accelerator:true) { /* Edge */
	body {
        font-family: "Meiryo", sans-serif;
	}
}

nav.navbar {
	height: 3em;
    background: none;
    border: none;
}
.navbar-brand {
	display: none;
}
@-webkit-keyframes xTraY {
	0% { 
        opacity: 1;
	}
    100% {
        opacity: 0.7;
    }
}

@keyframes xTraY {
	0% { 
        opacity: 1;
	}
    100% {
        opacity: 0.7;
    }
}

a {
	color: #2E81C9;
    text-decoration: none;
}
a,
button,
input[type="submit"] {
/*	-moz-transition: all 0.2s linear;*/
/*    transition: all 0.2s linear;*/
	-moz-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
/*    font-family: "游ゴシック", "YuGothic", "Meiryo", sans-serif;*/
/*    font-weight: normal;*/
}

a:hover,
button:hover,
input[type="submit"]:hover {
    opacity: 0.6;
    text-decoration: none;
    outline: none;
}

a:focus,
a:active {
	outline: none;
}

ul {
	list-style-type: normal;
    list-style-position: inside;
}
ul:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
ol {
	list-style-position: inside;
}
/*
ul li:before,
ol li:before {
    content: "";
	margin-right: 0.2em;
}
*/
table {
	border: 1px solid #ddd;
    border-collapse: collapse;
}
table td {
	border: 1px solid #ddd;
    padding: 0.8em;
}


/*  Custom *********** */
#page {
    margin: auto;
}
/* All width */
#head,
#navmenu,
#user-belt > div, 
#user-belt > ul,
.home .blog-main,
.main .blog-main,
#colop > div {
	width: 1050px;
}
.main .blog-main {
	width: 1040px;
    padding: 0 5px;
}

.send-btn,
.link-btn,
.back-btn,
.next-btn,
.edit-btn,
.conf-btn,
.page-ct h2,
.link-box a span,
a.topic-link,
.user a.user-link {
	font-family: "Meiryo", "游ゴシック", "YuGothic", sans-serif;
}
#navmenu,
.main #user-belt {
    font-family: "Meiryo", "游ゴシック", "YuGothic", sans-serif;
}

#o-belt {
	height: 12px;
    background: url(../images/main/orange-tiles-s.png);
}
#head {
	/* width first specify */
    margin: 3em auto 3.5em;
}
#head h1 {
	width: 585px;
    margin: auto;
    font-size: 1em;
}
#head h1 a:hover {
	opacity: 1;
}
#head h1 img {
	width: 100%;
    height: auto;
    margin-left: -0.2em;
}

/* Nav Menu */
#navmenu {
	/* width first specify */
    margin: 0 auto 1em;
    padding-bottom: 0;
    font-weight: normal;
}
#navmenu ul {
	display: inline-block;
	list-style: none;
    width: auto;
    padding: 0;
    margin-bottom: 0;
}
#navmenu ul:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
#navmenu ul.main-m {
	list-style: none;
	margin-top: 3em;
    font-size: 1.0em;
}
#navmenu ul.main-m li {
	float: left;
    background: url(../images/main/menu-side.png) 0 0 no-repeat;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0.15em 1.0em 0.2em;
    line-height: 1.2em;
}
/*
#navmenu ul.main-m li:before,
#navmenu ul.login-m li:before,
#user-belt li:before,
#colop li:before,
aside li:before  {
	content: none;
}
*/
#navmenu .main-m li:last-of-type {
	background: url(../images/main/menu-side.png) 0 0 no-repeat, url(../images/main/menu-side.png) 100% 0 no-repeat;
}
#navmenu ul.main-m li a {
	display: inline-block;
    color: #6F4F42;
}
#navmenu ul.main-m li a span.octicon:first-of-type {
    display: inline-block;
    color: #6F4F42;
    float: left;
    padding: 3.7px 1px 0;
    font-size: 1.7em;
    margin-right: 0.3em;
    opacity: 0.9;
}
#navmenu .main-m li a span:last-of-type {
	display: block;
    color: #EF5F2B/*#d90000*/;
    font-family: 'Delius', cursive;
    font-size: 0.95em;
    letter-spacing: 0.03em;
}
#navmenu ul.main-m li a,
#navmenu .main-m li a span {
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#navmenu ul.main-m a:hover,
#navmenu ul.main-m li a:hover span.octicon:first-of-type,
#navmenu ul.main-m a:hover span:last-of-type {
    color: #ff9977; /*#ff3f00*/
    opacity: 1;
}

/* 固定ページ増加分 */
#navmenu ul.main-m + div.dropdown {
    display: inline-block;
    position: relative;
    margin: 0 0 0 0.8em;
    vertical-align: top; /* ? */
    top: 2.9em;
}
#navmenu ul.main-m + div .mega-octicon {
	font-size: 2.9em;
    color: coral;
    cursor: pointer;
}
#navmenu ul.main-m + div .dropdown-menu {
	display: none;
    left: -2.5em;
    z-index: 998;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* LogIn */
#navmenu ul.login-m {
	list-style: none;
	float: right;
}
#navmenu ul.login-m li {
	float:left;
    padding-left: 1em;
    color: #FF3F00; /* #ff4000 */
}
#navmenu ul.login-m li:last-of-type {
	color: #565656;
}
#navmenu ul.login-m p {
	font-weight: bold;
	font-size: 0.8em;
    line-height: 1.5em;
    margin: 0 0 0.45em 5px;
}
#navmenu ul.login-m li p span {
	font-size: 1.2em;
    line-height: 1.5em;
}
#navmenu ul.login-m li a {
	border-radius: 0.6em;
    padding: 0.55em 1.3em 0.55em 3.6em;
    font-weight: bold;
    font-size: 1.0em;
    display: inline-block;
    background-color: none;
    box-sizing: border-box;
    -moz-transition: all 0.3s ease;
	transition: all 0.3s ease; 
}
#navmenu ul.login-m li:first-of-type a {
	border: 4px solid #ff3f00;
    color: #ff3f00;
    background-image: url(../images/main/top_icons/login-lock.png);
    background-position: 1em 50%;
    background-repeat: no-repeat;
    background-size: 27px auto;
}
#navmenu ul.login-m li:last-of-type a {
	border: 4px solid #565656;
    color: #565656;
    background-image: url(../images/main/top_icons/login-file.png);
    background-position: 1em 50%;
    background-repeat: no-repeat;
    background-size: 25px auto;
}
#navmenu ul.login-m li:last-of-type a.logout {
    background-image: url(../images/main/top_icons/logout-lock.png);
    background-position: 1em 50%;
    background-repeat: no-repeat;
    background-size: 27px auto;
}
@-webkit-keyframes scaleBom { 
    50% { 
        -webkit-transform: scale(0.85);
	}
    100% {
        -webkit-transform: scale(1);
    }
}
@keyframes scaleBom {
    50% {
       	transform: scale(0.85);
    }
    100% {
		transform: scale(1);
    }
}
#navmenu ul.login-m a:hover {
/*	-webkit-transform: rotateZ(20deg);*/ /* transformはinlineには効かない */
/*    transform: rotateZ(20deg);*/
	-webkit-animation: scaleBom 0.3s ease 0s 1 normal forwards;
	animation: scaleBom 0.3s ease 0s 1 normal forwards;
    opacity: 1;
    background-color: lightsalmon;/*#FFC3AF*/
}
#navmenu ul.login-m li:first-of-type a:hover,
#navmenu ul.login-m li:last-of-type a:hover,
#navmenu ul.login-m li:last-of-type a.logout:hover {
	border: 4px solid lightsalmon;
}

#navmenu ul.login-m li.wrap-logout p span {
	margin-right: 0.3em;
}

/* Carousel */
.home #cal {
	height: auto;
    padding: 20px 0;
	background: url(../images/main/orange-tiles-s.png);
}
.home #cal > div {
	max-width: 1050px;
    height: 373px;
    padding-top: 13px;
    box-sizing: content-box;
    background: url(../images/main/bn-r-y3.png) no-repeat;/*banner-r50 bn-regular.png*/
	color: #fff; /*#ff3f02*//*#ff3f02*/
    margin: auto;
    
}
.home #cal p {
	margin: 0;
    padding: 0;
    text-align: left;
}
.home #cal p:first-of-type {
    font-size: 1.9em;
    line-height: 1.5em;
    letter-spacing: 0.08em;
    font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
.home #cal p + hr {
    display: inline-block;
    box-shadow: none;
    border: 1px solid #fff;
    border-width: 0 0 1px 0;
    margin: 0.8em 0 1.5em;
	width: 50.5%;    
}
.home #cal p:last-of-type {
    font-family: "Hiragino Maru Gothic ProN", "Meiryo", sans-serif;
	color: #fff/*#424242*/;
    font-weight: normal;
    font-size: 1.05em;
    line-height: 0.9em; 
    letter-spacing: 0.05em;
}
@-webkit-keyframes person { 
    20% {
    	-webkit-transform: translateY(0);
    }
    24% {
    	-webkit-transform: translateY(-12px);
    }
    28% {
    	-webkit-transform: translateY(0);
    }
    32% {
    	-webkit-transform: translateY(-12px);
    }
    36% {
       	-webkit-transform: translateY(0);
    }
}
@keyframes person {
    20% {
    	transform: translateY(0);
    }
    24% {
    	transform: translateY(-12px);
    }
    28% {
    	transform: translateY(0);
    }
    32% {
    	transform: translateY(-12px);
    }
    36% {
       	transform: translateY(0);
    }
}
@-webkit-keyframes star { 
	0% {
    	opacity: 1;
       	-webkit-transform: rotateZ(0);
    }
	10% {
    	-webkit-transform: rotateZ(4deg);
    }
    
    25% {
    	-webkit-transform: rotateZ(-4deg);
    }
    
    36% {
       	-webkit-transform: rotateZ(0);
    }
    50% {
    	opacity: 1;
    }
    60% {
    	opacity: 0;
    }
    70% {
    	opacity: 1;
    }
    80% {
    	opacity: 0;
    }
    90% {
    	opacity: 1;
    }
}
@keyframes star {
    0% {
    	opacity: 1;
       	transform: rotateZ(0);
    }
	7% {
    	transform: rotateZ(4deg);
    }
    
    22% {
    	transform: rotateZ(-4deg);
    }
    
    33% {
       	transform: rotateZ(0);
        opacity: 1;
    }
    45% {
    	opacity: 1;
    }
    55% {
    	opacity: 0;
    }
    65% {
    	opacity: 1;
    }
    75% {
    	opacity: 0;
    }
    85% {
    	opacity: 1;
    }
}
div.person {
	background: url(../images/main/person.png) no-repeat;
    background-size: 100% auto;
	margin-top: 37px;
    width: 122px;
    height: 136px;
	-webkit-animation: person 4.5s ease 3s infinite normal forwards;
	animation: person 4.5s ease 3s infinite normal forwards;	
}

/* Belt for auth */
#user-belt {
    /*background: url(../images/main/foot-tile-g2.png), #634E4D;*/
    background: url(../images/main/foot-tile-gg.png), #1B192D; /*peachpuff*/
    font-size: 0.95em;
    padding: 2px 0;
    margin: 0;
}
#user-belt > div {
	/* width first specify */
}

/* Solid Page's UserBelt */
#user-belt > ul {
	/* width first specify */
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
#user-belt > ul > li {
	float: left;
    margin-right: 1em;
}
#user-belt > ul > li > a {
	display: inline-block;
    color: #564139;
    text-align: center;
    padding: 0;
    min-width: 9.3em;
    margin: 0;
    line-height: 1.55em;
    background: #fffcfb;
    border-radius: 0.2em;
}
#user-belt > ul > li > a { /* IE9-10-11 */
	border-radius: 0.2em 0.2em 0.3em 0.3em\0/;
}
@supports (-ms-accelerator:true) { /* Edge */
  #user-belt > ul > li > a {
    border-radius: 0.2em 0.2em 0.3em 0.3em;
  }
}
#user-belt > ul > li:last-of-type {
	margin-right: 0;
    float: right;
}
#user-belt > ul > li:last-of-type a {
	width: 10.8em;
}
#user-belt .dropdown {
	position: relative;
}
#user-belt .dropdown > a > .octicon {
	position: absolute;
    top: 0.25em;
    right: 0.4em;
	color: #7a7a7a;
    font-size: 1.2em;
    margin-left: 0.25em;
}
#user-belt .dropdown > a > .octicon { /* IE9-10-11 */
	top: 0.3em\0/;
}

.dropdown-menu {
	list-style: none;
	margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: #fefefe/*#FDFBF8*/;
    border: 3px solid #5B5D70;
    border-radius: 0.5em;
    box-sizing: border-box;
    min-width: 11.5em;
}
.dropdown-menu li a:before {
	content: "・";
}
.dropdown-menu li a {
	color: #564139;
    font-size: 1.05em;
	-moz-transition: color 0.2s linear;
	transition: color 0.2s linear;
}
.dropdown-menu li a:hover {
	color: #ff9977;
    background: none;
    opacity: 1;
}

a.arrow-white {
	color: #fff;
    text-decoration: none;
    background: url(../images/main/arrow-white.png) 0.5em 50% no-repeat;
    background-size: 17px auto;
}

.home #user-belt > a.arrow-white {
	float: right;
    font-size: 0.95em;
	border: 2px solid #fff;
    border-radius: 0.3em;
    padding: 0 0.8em 0 2.2em;
    color: #fff;
    text-decoration: none;
    background: url(../images/main/arrow-white.png) 0.5em 47% no-repeat;
    background-size: 17px auto;
}

.guest-belt {
    background: #FF9977;
    height: 6px;
}
.container-fluid {
	background: #fcfaf7;
    margin: 0;
    padding: 0 0 3em;
    /*#FCFAF7*/
}
.container-fluid:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.main .container-fluid {
	padding-bottom: 7em;
}


/* blog-main */
.home .blog-main,
.main .blog-main {
	/* width first specify */
    margin: 1em auto 0;
    padding: 0;
    min-height: 600px;
}
.blog-main:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.main .blog-main {
	margin-top: 1em;
}
.home section {
    margin: 0;
}

/* User Area */
.guest {
	padding: 1.8em 0;
}
.user {
    padding-bottom: 3em;
    padding-top: 0;
}
.home .user .blog-main {
	width: 1035px;
    margin-top: 2em;
}
.user .blog-main > div {
	float: left;
    width: 68%;
}
.user section.contents {
	width: 30%;
    float: right;
    padding: 0;
    margin:  0 auto 4em;
    position: relative;
}
.user section.contents h2 {
	display: none;
}
.user .link-box {
	margin: 0 1.4em 2.5em 0.5em;
}
.user .link-box:nth-of-type(even) {
	margin-right: 0;
}
.star,
.smile {
    position: absolute;
    top: 110%;
    left: 30%;
    width: 160px;
    height: 270px;
}
.guest .star,
.guest .smile {
	top: 90%;
    left: 65%;
    width: 125px;
    height: 220px;
}
.star {
	background: url(../images/main/person-star.png) no-repeat;
    background-size: 100% auto;
    -webkit-animation: star 3.5s ease 0.5s infinite normal forwards;
	animation: star 3.5s linear 0.5s infinite normal forwards;
}
.smile {
	background: url(../images/main/person-smile.png) no-repeat;
    background-size: 100% auto;
}

.user section.profile {
    margin: 0;
    width: 100%;
    padding: 0 0 2em;
}
.user section.profile h2 {
	border: none;
    width: auto;
    clear: both;
    margin: 0 0 2.5em 0;
    padding: 0.2em 0.5em 0.4em;
    font-size: 1.2em;
    font-family: "Meiryo", "游ゴシック", "YuGothic", sans-serif;
    border-bottom: 4px dashed #FFC9B7; /* #FFC9B7 */
}
.user section.profile h2 span {
    color: #ff9977;
    font-size: 1.6em;
}
.user section.profile > div {
    width: 1035px;
    height: auto;
    margin: 0 auto;
    padding: 2em 0;
    border-bottom: 4px dashed #FFC9B7;
}
.user section.profile > div div:first-of-type {
	float: left;
    width: 50%;
}
.user section.profile > div div:last-of-type {
	background: url(../images/main/paper.png) 0 1em no-repeat;
    background-size: 150px auto;
/*    background: url(../images/main/about/entry-top.png) 1em 0 no-repeat;*/
    padding-left: 10em;
    margin: 3em 1em 0 0;
    width: 45%;
    float: right;
}
.user section.profile > div div:last-of-type p {
	font-size: 0.95em;
    line-height: 1.5em;
}
.user section.profile p {
	margin-bottom: 0.5em;
}

.user section.jobs,
.user section.tp-topics,
.guest section.tp-topics {
	border-radius: 0.5em;
    background: #FFB293/*antiquewhite*//*#FFB293*/;
	padding: 3px;
}
.user section.jobs,
.user section.tp-topics {
	float: none;
	width: 97%;
    height: auto;
}
.user section.jobs {
	margin-bottom: 2.5em;
}
.user section.jobs > div,
.user section.tp-topics > div,
.guest section.tp-topics > div {
	padding: 1.0em 2em 1.5em;
    border-radius: 0.3em;
    border: 4px solid peachpuff;
    background: #fffefd;
    min-height: 30em;
}
.user section.jobs h2,
.user section.tp-topics h2 {
	float: left;
    width: 23%;
    margin-top: 0.7em;
    border: none;
}

.user section.jobs > div > div,
.user section.tp-topics > div > div {
	float: right;
    width: 76%;
    padding-left: 5%;
    margin-top: 1em;
	border-left: 1px solid #9a9a9a;
}

.user section h2 span {
	font-size: 1.3em;
    margin-right: 0.5em;
}
section.jobs article,
section.tp-topics article {
	margin-bottom: 0.8em;
}
.user article a,
.tp-topics article a {
	display: inline-block;
}
.user article h3,
.tp-topics article h3 {
	font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    color: #6F4F42;
}
.user article small,
.tp-topics article small {
	font-size: 1em;
	color: #37BAB1/*#2E81C9*/;
}
.user article h3 span,
.tp-topics article h3 span {
	font-size: 0.92em;
}

.u-link {
	display: inline-block;
    width: 47%;
    line-height: 2.8em;
    font-size: 1em;
    margin: 0 0.7em 0.5em 0;
    padding-left: 1.5em;
	border-radius: 0.8em;
    background: #FFF9F2/*rgba(245, 235, 233, 0.4) #FFF8EF*/;
    text-align: left;
    color: #705950/*#704C3F*//*ORG:#7F635A*/;
    border: 3px solid #F2D3AB/*#F4E1C3*/;
}
.u-link span {
	margin: 0 0.5em 0 0;
}
.u-link span:first-of-type {
	color: #ff9976;
    font-size: 1.1em;
}
.u-link span:last-of-type {
	float: right;
    line-height: 2.8em
}
.u-link + span {
	font-size: 1em;
}
.user section.profile > div div:last-of-type .u-link {
	width: 100%;
    padding-left: 1em;
}

/* Guest */
.guest section.tp-topics {
	float: left;
	width: 49%;
}
.guest section.tp-topics > div {
	padding: 2.6em 2.2em 2em;
}
.guest section h2,
.user section h2 {
	color: #6a6a6a;
    border-bottom: 1px solid #9a9a9a;
    padding: 0 0 0.3em;
    margin-bottom: 0.8em;
    margin-top: 0;
    font-weight: 300;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.05em;
}

.tp-topics article small {
	color: #FE4A0F;
}
a.topic-link {
	display: inline-block;
    margin-top: 0.5em;
	border-radius: 9px;
    text-align: center;
    padding: 0.3em 1.2em 0.3em 2em;
    text-decoration: none;
	width: auto;
	float: right;
    color: #704F43/*#704C3F*//*ORG:#7F635A*/;
    background: #FFF1DC;
    border-radius: 0.5em;
    border: 3px solid #ffaa8e/*#FFA387*/;
    font-size: 1.05em;
}
a.topic-link .octicon {
	font-size: 1.2em;
	margin-left: 1em;
}
a.topic-link .octicon:last-of-type {
	margin-left: 0;
}

.guest section.contents {
	float: right;
	width: 50%;
    position: relative;
    padding: 0 0 1.5em 3.5em;
}
.guest section.contents h2 {
	display: none;
	border-bottom: 0;
    margin-bottom: -0.3em;
}
.link-box {
    width: 130px;
    height: 160px;
    margin: 0 5% 1.5em 0;
    float: left;
}
.guest .link-box:nth-of-type(3),
.guest .link-box:last-of-type {

}
.link-box a {
	display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    -moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.link-box a span {
    color: #fff;
    display: inline-block;
    width: 100%;
    margin: 90% auto 0;
    text-align: center;
    font-size: 1em;      
}
@media screen and (-webkit-min-device-pixel-ratio:0) { /* for Safari chrome/ edgeでも効くので更に下記でそれぞれ別指定する */
  .link-box a span {
    	-webkit-transform: translateZ(0);
	    font-weight: bold;
  }
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { /* chrome */
  .link-box a span {
  		-webkit-transform: none;
		font-weight: normal;
  }
}
@media all and (-ms-high-contrast:none){ /* IE10-11 */
      .link-box a span {
  		-webkit-transform: none;
		font-weight: normal;
  }
}
@supports (-ms-accelerator:true) { /* Edge */
	.link-box a span {
  		-webkit-transform: none;
		font-weight: normal;
  }
}

@-webkit-keyframes scaleXy {
	0% { 
    	-webkit-transform: rotateZ(0);
	}
    100% {
       	-webkit-transform: rotateZ(6deg);
    }
}
@keyframes scaleXy {
	0% { 
		transform: rotateZ(0);
	}
    100% {
		transform: rotateZ(6deg);
    }
}

section.contents .link-box:first-of-type a {
    background: url(../images/main/top_icons/auditor-2.png) no-repeat;
    background-size: 100% auto;
}
section.contents .link-box:nth-of-type(2) a {
    background: url(../images/main/top_icons/iroha3.png) no-repeat;
    background-size: 100% auto;
}

section.contents .link-box:nth-of-type(3) a {
    background: url(../images/main/top_icons/study-4.png) no-repeat;
    background-size: 100% auto;
}

section.contents .link-box:nth-of-type(4) a {
	background: url(../images/main/top_icons/blog.png) no-repeat;
    background-size: 100% auto;
}

section.contents .link-box:nth-of-type(5) a {
    background: url(../images/main/top_icons/mail.png) no-repeat;
    background-size: 100% auto;
}

section.contents .link-box:nth-of-type(6) a {
    background: url(../images/main/top_icons/forinc2.png) no-repeat;
    background-size: 100% auto;
}

.link-box a:hover {
	-webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
    opacity: 1; /* ORG 0.7 */
}
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { /* chrome */
  .link-box a:hover {
  		-webkit-transform: scale(1.07);
  }
}
.link-box a:hover { /* IE9 */
	opacity: 0.7\0/;
}
@media all and (-ms-high-contrast:none){ /* IE10-11 */
  .link-box a:hover {
  	opacity: 1;
  }
}
@supports (-ms-accelerator:true) { /* Edge */
  .link-box a:hover {
  	opacity: 1;
  }
}

.page-ct {
	line-height: 1.7em;
}
/* h1タイトルについて
.page-ct header h1 = 通常の横長(about以外の固定ページにて)
header h1に.main-titleクラスがつくとinlineになる（aboutやいろはの固定にて）
div.main-head h1もinline (一覧Archiveやフォームにて)
headerは使えなく、divなので注意
*/
.page-ct header h1,
.main-head h1 {
	background: url(../images/main/wave-tile-white.png), #FF652D;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 0.07em;
    padding: 0.4em 1em;
    margin-top: 0;
    margin-bottom: 1.7em;
    border-radius: 0.2em;
    font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
.page-ct .main-ct h1,
.userinfo h2,
#entry-company h2,
#entry-study h2 {
	border: solid peachpuff;
    border-width: 0 0 0 15px;
    padding: 0.5em 0.6em;
    font-size: 1.4em;
    color: #FF632B; /* coralより彩度UP */
}
.userinfo h2,
#entry-company h2,
#entry-study h2 {
	font-size: 1.2em;
}

.page-ct .main-ct h2 {
    
}
.page-ct .main-ct h3 {

}

.intro-ct:after,
.main-ct:after,
.about .main-ct div:after,
.sub-ct:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.intro-ct > p { /*ヘッダーコンテンツ説明の箱 装飾あり*/
	width: 63%;
    line-height: 1.6em;
    border: 6px dotted peachpuff;
    border-radius: 1em;
    background: rgba(255,154,120,0.05);
    color: #6F4F42;
    font-size: 1em;
    padding: 1.5em 1.7em;
    line-height: 1.7em;
    margin-top: 2.5em;
}
.main-ct {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 2em;
}

.about .intro-ct p:first-of-type,
.about .sub-ct p:first-of-type {
	width: 60%;
    margin-right: 3.5%;
    float: left;
}
.about .sub-ct p:first-of-type {
	margin-top: 0em;
}
.about .intro-ct {
	background: url(../images/main/about/mother2.png) 98% 2.5em no-repeat;
    background-size: 380px auto;
}
.about .sub-ct img {
	width: 148px;
    height: auto;
    margin-left: 3em;
}
.about .intro-ct img {
	margin: 0 2em 0 0;
    float: right;
}
.about .main-ct {
	width: 100%;
    margin: 6em auto 0;
}
.about .main-ct div {
	border: 7px double lightsalmon;
    background: #fffdfc;
    border-radius: 0.7em;
    width: 87%;
    margin: 0 auto 8em;
    padding: 2em 2em 4em;
}
.about .main-ct div h3 {
	font-weight: 300;
    font-size: 1.5em;
	font-family: 'Josefin Sans', sans-serif;
	background: url(../images/main/wave-tile-white.png), tomato;
    color: #fff;
    width: 4.5em;
    height: 4.5em;
    line-height: 4.5em;
    border-radius: 50%;
    text-align: center;
    margin: -3.7em auto 0.5em;
}
.about .main-ct div h3 span {
	font-size: 1.35em;
    margin-left: 0.15em;
}
.about .main-ct div p {
	float: left;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.7em;
    color: #6F4F42;
    width: 45%;
    margin-top: 2em;
}
.about .main-ct div img {
	float: right;
    margin-top: 1em;
}
.about .main-ct div:last-of-type img {
	margin-right: 2.5em;
}

/* Privacy */
.privacy p {
	margin-left: 3em;
    padding-left: 0.6em;
    margin-bottom: 2em;
}
.privacy ul,
.privacy ol {
	margin-left: 3em;
}
.privacy section.main-ct {
    padding-left: 23%;
    background: url(../images/main/top_icons/lock-gray-lg.png) 3% 3% no-repeat;
    background-size: 160px auto;
}

/* Company */
.company section.main-ct {
	padding-left: 21%;
    background: url(../images/main/top_icons/company-gray-lg.png) 1% 3% no-repeat;
    background-size: 160px auto;
}

/* Iroha */
.iroha .intro-ct {
	background: url(../images/main/iroha-main-5.png) 100% 0 no-repeat;
    background-size: 350px auto;
}

.iroha .iroha-menu-tl,
.iroha ul.iroha-menu {
	list-style: none;
	margin: 0 0 2em 43%;
    width: 57%;
/*    background: #fffcfb;*/
    border: 2px solid #8E736B;
    border-width: 2px 0 2px 0;
    padding: 1.3em 2em;
}
.iroha .iroha-menu-tl {
	border: none;
    margin-top: 2.5em;	
	margin-bottom: 0.1em;
    padding: 0;
    font-weight: 400;
    font-size: 1.3em;
    font-family: 'Josefin Sans', sans-serif;
}
.iroha ul.iroha-menu:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.iroha ul.iroha-menu li {
    margin: 0 0 0.5em 0;
}
.iroha ul.iroha-menu li a {
    font-size: 1.05em;
}
.iroha ul.iroha-menu li a .octicon {
	margin-right: 0.3em;
}
.iroha .main-ct {
	background: url(../images/main/about/mother-child.png) 10% 2em no-repeat;
    background-size: 220px auto;
}
.iroha .main-ct > div {
    margin-bottom: 4em;
    min-height: 25em;
}
.iroha .main-ct > div > span {
	font-size: 1.1em;
    color: #704F43;
    margin-left: 1em;
}
.iroha .main-ct > div > span .octicon {
	font-size: 1.4em;
    margin-right: 0.3em;
}
.iroha .main-ct > div h1 {
	border: dashed #ff9977;
    border-width: 0 0 3px 0;
    font-size: 1.4em;
}
.iroha .main-ct > div h1 .octicon {
	font-size: 2em;
    margin-right: 0;
}
.iroha .main-ct > div p {
    margin: 1.5em 0 0 6em;
}
.iroha-child header {
	position: relative;
    margin-bottom: 3em;
}
.iroha-child header .mega-octicon {
	font-size: 7.5em;
    color: lightsalmon;
    margin-left: 1.7em;
    position: absolute;
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
}
.iroha-child .main-ct h2 {
	margin-top: 2em;
}
.iroha-child > header p { /* 箱 iroha-child */
	font-size: 1em;
	color: #5f5f5f;
    max-width: 60%;
    margin-top: 2em;
}
.iroha-child .main-ct p {
	margin: 0.7em 0 2.5em 2.5em;
}

/* Topics & study */

/* main-headはdivなので注意*/
.page-ct > .main-head { /*一覧ページのhead フォームのheadは別に指定*/
	min-height: 11em;
    margin-bottom: 3em;
}
/* inline h1 */
.main-head h1,
header h1.main-title {
	max-width: 55%;
    line-height: 1.4em;
    padding: 1.2em 2.3em;
    display: inline-block;
	margin: 0 0 1.2em;
    font-weight: bold;
}
.main-head p { /* main-headの説明を入れる箱 .iroha-childだけ別指定*/
	font-size: 1em;
	color: #5f5f5f;
    width: 40%;
}
.topics .main-head {
    position: relative;
}
.topics .main-head .mega-octicon {
	position: absolute;
    font-size: 7em;
    margin-left: 1.3em;
    top: -20px;
    color: lightsalmon;
}
.topics .main-head .mega-octicon:first-of-type {
    font-size: 4em;
    margin-left: 3.3em;
    top: -10px;
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
}
.topics .main-head .mega-octicon:last-of-type {
    font-size: 9em;
    margin-left: 2.3em;
    top: 0;
    -webkit-transform: rotateZ(7deg);
    transform: rotateZ(7deg);
}
/*一覧のmain-head*/
.study .main-head {
    background: url(../images/main/about/study-lg.png) 66% 0 no-repeat;
    background-size: 190px auto;
}
.job .main-head {
    background: url(../images/main/about/job-subject.png) 73% 0 no-repeat;
    background-size: 360px auto;
}
.blog .main-head {
    background: url(../images/main/about/blog2.png) 67% 0 no-repeat;
    background-size: 210px auto;
    min-height: 10em;
    margin-bottom: 1em;
}
.main-head .pagination {
	margin-top: 2em;
    margin-bottom: 2em;
}
/*予備
background: url(../images/main/top_icons/study-gray-lg3.png) 46% 0 no-repeat;
background-size: 130px auto;
background: url(../images/main/about/company.png) 60% 0 no-repeat;
background-size: 140px auto;
background: url(../images/main/top_icons/blog-gray-lg6.png) 35% -5px no-repeat;
background-size: 140px auto;
background: url(../images/main/top_icons/study-gray-lg3.png) 30% 1% no-repeat;
background-size: 100px auto;
*/

article.archive {
    margin-bottom: 4em;
    padding: 0 2em 4em 1.5em;
    min-height: 10em;
    border-bottom: 2px dashed tan;
}
.archive:after,
article.archive:after,
.archive header:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.archive > div img {
	display: none;
}
.archive header {
	float: left;
    width: 53%;
}
.archive header small,
.archive header h2 {
	display: block;
    margin: 0;
    line-height: 1.4em;
    color: #888;
	float: left;
}
.archive header small {
	display: block;
    width: 4.8em;
    height: 4.8em;
    padding: 0.9em 0;
    font-size: 1.3em;
    line-height: 1.3em;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}
.archive header small em {
	font-style: normal;
    font-size: 0.82em;
}
.archive header h2 {
	width: 75%;
	padding: 1% 0 0.3em 0;
    margin-left: 15px;
    line-height: 1.4em;
    font-size: 1.25em;
    border: none;
}
article.archive h2 a {
    color: #FF632B; /* coralより彩度UP */
}
.archive header h3 {
	font-size: 1.05em;
    line-height: 1.4em;
    margin: 0.3em 0 0 15px;
    float: left;
    width: 75%;
    color: #6a6a6a;
}
.archive > div {
	float: right;
    width: 42%;
}
.archive > div:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.dots {
	letter-spacing: -0.5em;
    color: #424242;
}
.more {
	padding: 0.1em 0 0;
    margin: 0.4em 0 0;
    display: block;
    width: 7em;
    color: #FF703D;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.6em;
    font-family: 'Josefin Sans', sans-serif;
}
.more .octicon:first-of-type {
	margin-left: 0.3em;
}
.archive h2 a:hover,
.more:hover,
.back-tx:hover {
	color: #FF9B7A;
}

.topics header small,
.topic-sgl header small {
	background: url(../images/main/wave-tile-white.png), #80CC4D; /* green */
}
.study header small,
.study-sgl header small  {
	background: url(../images/main/wave-tile-white.png), #DB6F78; /* blue */
}
.job header small,
.job-sgl header small  {
	background: url(../images/main/wave-tile-white.png), #529ad7; /* blue */
}
.blog header small,
.blog-sgl header small {
	background: url(../images/main/wave-tile-white.png), #AF9889/*#AF9889;*/ /* #F7B831 */
}

/* blog */
#primary {
    width: 65%;
    float: left;
}
#secondary {
    width: 25%;
    float: right;
}
.blog article.archive {
    padding: 0 1em 0.5em 1.5em;
    margin-bottom: 2em;
}
.blog header,
.blog header h2,
.blog article > div {
	width: 100%;
}
.blog header small,
.blog header h2,
.blog article > div {
	float: none;
}
.blog header small,
.blog-sgl header small {
	color: #fff;
    width: 4.8em;
    height: 4.8em;
    font-size: 1.3em;
    line-height: 1.3em;
    margin-bottom: 0;
    padding-top: 0.95em;
    display: block;
    border-radius: 50%;
    text-align: center;
}
.blog-sgl header small {
	width: 4.8em;
    height: 4.8em;
    font-size: 1.5em;
    padding-top: 1em;
    margin-bottom: 0;
}
.blog header > .octicon,
.blog-sgl header > .octicon {
	font-size: 11em;
    margin-left: 80%;
    margin-top: -0.7em;
    color: peachpuff; /*#856A5B*/
    opacity: 0.5;
   	-webkit-transform :rotateZ(15deg);
    transform :rotateZ(15deg);
}
.blog header h2 {
	padding: 0.1em 0 0.1em 0;
    margin: -1.8em 0 0.3em;
    font-size: 1.5em;
}
.blog header h2 span.octicon,
.blog-sgl header h2 span.octicon {
	color: #856A5B/*#856A5B*/;
    font-size: 2em;
    margin-right: 0.3em;
    line-height: 1.6em;
    padding: 0;
}

.blog-sgl {
	padding-left: 0.7em;
}
/*.blog article > div,*/
.blog-sgl > div {
	width: 99%;
}
.blog-sgl header {
	margin-bottom: 2em;
    padding-bottom: 0;
    border-bottom: 3px dashed peachpuff;
}

.blog-sgl header h1 {
    background: none;
	font-size: 1.7em;
    margin-top: -1.7em;
    line-height: 1.4em;
    padding-left: 0;
    border: none;
    color: #FF703D;
}
.blog-sgl footer {
    border-top: 3px dashed peachpuff;
    margin-top: 3em;
}
.blog footer,
.blog-sgl footer {
	margin-top: 2em;
}
.blog footer ul,
.blog-sgl header ul,
.blog-sgl footer ul {
	list-style: none;
    padding: 0;
    margin: 0.5em 0 2em;
    font-size: 0.95em;
}
.blog footer ul li,
.blog-sgl header ul li,
.blog-sgl footer ul li {
	padding-right: 1em;
    color: #424242;
}
.blog footer h5,
.blog-sgl header h5,
.blog-sgl footer h5 {
	font-size: 1.1em;
    color: #A59891;
    margin: 1.4em 0 0;
    padding: 0;
}
.blog footer h5 > .octicon,
.blog-sgl header h5 > .octicon,
.blog-sgl footer h5 > .octicon {
	margin-right: 0.2em;
    font-size: 1.3em;
}

/* Sidebar */
aside {
	margin-bottom: 2.5em;
}
aside h3 {
	color: #A59891/*#AA9992*/;
    border-bottom: 2px solid #A59891;
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 0.5em;
}
aside h3 .octicon {
	margin-right: 0.3em;
    font-size: 1.4em;
    font-weight: bold;
}
aside ul {
	list-style: circle;
}
aside li {
	line-height: 1.4em;
    margin-bottom: 0.8em;
}


/* Single */
.single {
	margin-top: 4em;
}
.single header {
	text-align: center;
    border-bottom: 2px dotted #aaa;
    padding-bottom: 1.0em;
    margin-bottom: 2em;
}
.single header:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.single.topic-sgl header{
    position: relative;
}
.single.topic-sgl header .mega-octicon {
	position: absolute;
    color: lightsalmon;
}
.single.topic-sgl header .mega-octicon:first-of-type {
    left: 20%;
    top: -10px;
    font-size: 8em;
    -webkit-transform: rotateZ(-6deg);
    transform: rotateZ(-6deg);
}
.single.topic-sgl header .mega-octicon:last-of-type {
    left: 70%;
    top: 0.5em;
    font-size: 4em;
    -webkit-transform: rotateZ(12deg);
    transform: rotateZ(12deg);
}
.single.study-sgl {
    background: url(../images/main/about/study-lg.png) 10% 1% no-repeat;
    background-size: 125px auto;
    
}
.single.job-sgl {
	background: url(../images/main/about/job-entry.png) 3% 1% no-repeat; /* ORG company.png */
    background-size: 120px auto;
}
.single header small {
	display: block;
    margin: auto;
	width: 4.5em;
    height: 4.5em;
    padding: 0.9em 0;
    font-size: 1.6em;
    line-height: 1.3em;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

.single header small em,
.blog-sgl header small em {
	font-style: normal;
    font-size: 0.8em;
}
.single header h2 {
	clear: both;
	color: #fe5c26;
    font-size: 1.9em;
    line-height: 1.4em;
    width: 82%;
    margin: 2em auto 0.5em;
    text-align: left;
}
.single header h2:before {
    margin-right: 0.5em;
    font-size: 0.9em;
    line-height: 0.5em;
}
.single header > p {
	clear: both;
    float: none;
    text-align: left;
	color: red;
    border: 1px solid red;
    font-size: 1.1em;
    padding: 0.7em 1em;
    margin-top: 3em;
    background: #FFF2EF;
    border-radius: 0.5em;
}
.single header > p .octicon {
	font-size: 1.1em;
    margin-right: 0.5em;
}
.single > .main-ct {
	width: 73%;
    margin: auto;
}
.single > .main-ct:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.single footer {
	margin-top: 5em;
	border-top: 2px dotted #aaa;
}
.job-sgl footer,
.study-sgl footer {
	border-top: none;
}
.single section h3 {
	line-height: 1.4em;
}
.back-tx {
	display: inline-block;
	background: url(../images/main/arrow-red-back.png) 0 49% no-repeat;
    background-size: 18px 18px;
    color: #fe5c26;
    padding-left: 1.6em;
    margin: 1em auto;
}

.job-sgl header h2,
.job-sgl header h3 {
	width: 100%;
    text-align: left;
    padding-left: 6px;
}
.job-sgl header + p {
	margin: -1.2em 0.2em 0 0;
    text-align: right;
    clear: both;
}
.job-sgl > .main-ct {
	text-align: left;
    margin: 1em 0 2em;
    width: 85%;
    padding-left: 6px;
}
.job-sgl section:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.job-sgl section:last-of-type {
	width: 100%;
    margin-top: 3.5em;
}
.job-sgl section:last-of-type > .imghere {
	width: 220px;
    min-height: 220px;
    text-align: center;
    float: left;
    margin-right: 2.5em;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.job-sgl section:last-of-type > .imghere > img {
	width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/* Pagination */
/* app.cssに直接記述 */

/* Footer */
#colop {
/*    background: url(../images/main/foot-tile.png);*/
    background: url(../images/main/foot-tile-gg.png), #1B192D;
}
#colop > div {
	/* width first specify */
	padding: 3.3em 0 3em 0.5em;
    margin: auto;
}
#colop > div > a {
	float: left;
    font-weight: 300;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.03em;
    color: #fff;
}
#colop > div > a > img {
	width: 230px;
    height: auto;
}
#colop ul {
	float: left;
    font-size: 1em;
	list-style: none;
}
#colop ul:after {
	display:block;
    clear: both;
    content: "";
    height: 0;
}
#colop div > ul > li {
	float: left;
    margin: 0;
}
#colop div > ul ul {
	padding-left: 0.5em;
}
#colop div > ul ul li {
    margin: 0 0 0.15em;
}
#colop li a {
	padding: 0.6em 2.3em;
}
#colop > p {
	text-align: center;
	color: #efefef;
    font-weight: 400;
    font-size: 1.2em;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0 0 1.0em;
}
#colop span.toTop {
	display: none;
	position: fixed;
    color: #fff;
    right: 0.85em;
    bottom: 0.6em;
    background: rgba(0,0,0,0.5);
    border-radius: 0.3em;
    z-index: 999;
    font-size: 2.1em;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    text-align: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
#colop span.toTop:hover {
	opacity: 0.7;
}
#colop span.toTop img {
	width: 0.5em;
    height: auto;
}


/* Form ********************** */
.register,
.contact,
.job-entry,
.study-entry {
	width: 100%; /* ORG 87% */
    margin: auto;
}
.contact .main-head,
.register .main-head,
.study-entry .main-head,
.job-entry .main-head {
	min-height: 7em;
    margin-bottom: 4.5em;
}
.register .main-head {
	background: url(../images/main/about/pc.png) 55% 20px no-repeat;
    background-size: 148px auto;
}
.contact .main-head {
	background: url(../images/main/form/mail-dot-8.png) 68% -5px no-repeat;
/*    background: url(../images/main/about/mail.png) 30% 10px no-repeat;*/
    background-size: 300px auto;
}
.study-entry .main-head {
	background: url(../images/main/about/study-lg.png) 68% 0 no-repeat;
    background-size: 140px auto;
}
.job-entry .main-head {
	background: url(../images/main/about/job-entry.png) 68% 0 no-repeat;
    background-size: 120px auto;
}

.movement {
    margin: 1.7em 0 3em;
}
.movement:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.movement > div {
	float: left;
    margin-right: 2%;
    background: #eaeaea;
    width: 32%;
    line-height: 3.6em; /*2.8em*/
	font-size: 1.1em;
    padding: 0 3%;
    color: #afafaf;
    border: 6px solid #eaeaea;
    border-radius: 0.5em;
    box-sizing: border-box;
}
.movement > div:last-of-type {
	margin-right: 0;
    
}
.movement > div.here-is {
/*	background: #F89C39;*/
	/*background: url(../images/main/wave-tile-white.png), #ED714F;*/ /* wave-tile-5 */
    background: none;
    color: #706356;
    border: 6px solid #F47856;
}
.movement > div span.step {
	font-weight: 400;
	font-size: 1.15em;
    font-family: 'Josefin Sans', sans-serif;
	border-right: 2px solid #999;
    padding: 0.4em 6.0% 0.2em 0;
    margin: 2em 6.0% 0 0.2em;
}
.movement > div span.step em {
	font-size: 1.4em;
    font-style: normal;
    margin: 0 0 0 0.2em;
}
.movement > div span.octicon {
	font-size: 1.7em;
    margin-right: 0.5em;
}
.movement > div.here-is span.step {
	border-color: #706356;
}
.movement > div.here-is span.octicon {
	color: #F45B30;
}

.table-d {
    width: 100%;
/*    border-collapse: separate;*/
    border: 1px solid #D3C8C0;
    margin-bottom: 0.8em;
}
.table-d col.cth {
	width: 30%;
    background: #F9EDE0; /* ORG linen */
}
/*
.table-d col.ctd {
}
*/
.table-d tr {
    border-bottom: 1px solid #D3C8C0; /* #d8d8d8 */
    border-radius: 15px;
}
.table-d tr:last-of-type {
	border-bottom: 1px solid #ccc/*#9F988D*/;
}
.contact .table-d tr:last-of-type,
.study-entry .table-d tr:last-of-type,
.job-entry .table-d tr:nth-of-type(4) {
	height: 15em;
    vertical-align: top;
}
.table-d th {
/*	background: #fff1dc;*/
    padding: 1.2em 1.3em 1.2em 1.7em;
    color: #5d5d5d;
    text-align: left;
    font-weight: normal;
}
.table-d td {
	padding: 1.2em 3.5em;
}
.table-d th em {
	font-style: normal;
    font-size: 0.9em;
	background: #ee7250;
    padding: 0.03em 0.8em 0.05em;
    border-radius: 0.5em;
    color: #fff;
    float: right;
}

.form-d input,
.form-d textarea {
	border-radius: 0.3em;
    box-shadow: none;
    border: 3px solid #CCC2BB; /*#D8CFC7*/
    font-size: 1em;
}
.form-d input {
	width: 85%;
	height: 2.8em;
    line-height: 1.5em;
}
.form-d textarea {
	width: 100%;
	resize: vertical;
}
span.t-down {
	position: relative;
    display: inline;
}
span.t-down:after {
	display: inline-block;
	content: "";
	position: absolute;
	right: 0;
	width: 15px;
	height: 29px;
	margin: 0;
    padding: 0;
    border-radius: 0 0.3em 0.3em 0;
	background: url(../images/main/triangle_down.png) 1px 50% no-repeat, #aaa;
	background-size: 13px, 13px;
	pointer-events: none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	::i-block-chrome, span.t-down:after {
    	/*Chrome?? 特に何も効いていないよう*/
	}
}
@-moz-document url-prefix() { /* FireFox */
  span.t-down:after {
    top: -5px;
  }
}
span.t-down:after {/* IE9 */
/* IE10-11にも効いてしまう
更に先頭に:root を付けると下記のIE10-11用が効かなくなる
Edgeには影響なし */
	display: none\0/;
}
@media all and (-ms-high-contrast:none){ /* IE10-11 */
  span.t-down:after {
  	display: inline-block;
    top: -2px;
  }
}
@supports (-ms-accelerator:true) { /* Edge */
  span.t-down:after {
/*  	display: inline-block;*/
    top: -3px;
  }
}

.form-d select {
    width: 5em;
    height: 30px;
	padding: 0 0 0 3px;
    font-size: 0.85em;
    color: #424242;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 2px solid #afafaf;
    border-radius: 0.3em;
	background: #fff;
	background-size: 11px, 11px;
}
.form-d select::-ms-expand { /* ここを指定を外せば(display:blockにすれば)、IE11までdefault-プルダウンが表示*/
	display: none;
}

.form-d select[name="birth_year"],
.form-d select[name="get_year"] {
	width: 6.5em;
}
.form-d input[type="file"] {
	border: none;
    height: auto;
    line-height: 1.2em;
    background: none;
}
.form-d span.wrap-radio input[type="radio"] {
    opacity: 0; /* 透明に */
    width: 30px;
  	margin-left: -30px;
  	height: auto;
    line-height: auto;
    /*
    width: auto;
	height: auto;
    line-height: auto;
    margin: 0 0.7em 0 0;
    padding-bottom: 0.7em;
    */
}
.form-d span.wrap-radio label {
	cursor: pointer;
  	font-size: 14px;
  	line-height: 1;
  	position: relative; /* 絶対配置の基準位置 */
    padding-left: 30px; /* ボタンと余白の幅分空ける */
    margin-right: 1.2em; 
}
.form-d span.wrap-radio label:before {
	display: inline-block;
  	content: "";
  	width: 20px;
  	height: 20px;
  	background-color: #fff;
  	border: 1px solid #999;
  	border-radius: 50%;
  	position: absolute; /* 絶対配置 */
  	top: 50%;
  	left: 0;
  	margin-top: -10px; /* 半径分上に */
}
.form-d span.wrap-radio input[type="radio"]:checked + label:after {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #999;
    border-radius: 50%;
    position: absolute; /* 絶対配置 */
    top: 50%;
    left: 5px; 
    margin-top: -5px; /* 半径分上に */
}
.form-d span.wrap-radio input[type="radio"]:focus + label:before {
/*  box-shadow: 0 0 1px 3px #ff6699;*/ /* ハイライト表示 */
}

.back-btn,
.next-btn {
	border-radius: 14px;
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    margin-top: 2em;
    padding: 0.3em 0 0.2em;
    color: #fff;
    text-decoration: none;
}
.next-btn {
	min-width: 14em;
    padding: 0 2.2em;
    line-height: 3.5em;
    background: #F79B39;
    border-radius: 0.5em;
    border: 2px solid #F79B39;
    color: #fff;
}
.back-btn {
	min-width: 11em;
    float: left;
    padding: 0 2.5em;
    line-height: 3.5em;
    background: #fbfbfb;
    border-radius: 0.5em;
/*    color: #706356;*/
/*    border: 5px solid #F47856;*/
/*    border-radius: 0.5em;*/
    font-weight: bold;
    border: 2px solid #999;
    color: #999;
    box-sizing: border-box;
}
.back-btn:hover {
	opacity: 0.7;
    text-decoration: none;
}

.alert {
	border-radius: 5px;
}
/* alert関連：app.cssに直接記述 */

/* 確認画面 */
.wrap-b {
	width: 100%;
    margin: auto;
}
.wrap-b:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.wrap-b .next-btn {
	margin-left: 22%;
}

/* 完了画面 */
.send-end {
	text-align: center;
    margin: 4em 0;
    line-height: 2.0em;
}
.send-end img {
	margin-bottom: 1em;
}
.send-end span {
	color: #fe3f00;
    font-weight: bold;
    font-size: 1.4em;
}
.send-end + div {
	margin: 6em auto 4em;
}
.send-end + div .edit-btn {
	display: block;
    width: 10em;
    margin: auto;
}
.send-end + div .octicon {
	margin-right: 0.3em;
}
.register .send-end img {
	float: left;
    width: 145px;
    height: auto;
    margin: 1em 4em 0 20%;
}
.register .send-end > p {
	text-align: left;
}
.register .send-end > p > strong {
	display: inline-block;
	margin: 0.8em 0;
}

/* LogIn ***************** */
.inBack {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 999;
}
.addPanel {
	position: absolute;
    z-index: 9999;
    opacity: 0;
    display: block;
    margin: 0;
    width: 550px; /* 50% */
    padding: 17px;
    border-bottom: 0;
    box-shadow: none;
    background: url(../images/main/orange-tiles-s.png);
    border-radius: 1em;
}
.inBack > .octicon {
	position: absolute;
    z-index: 9999;
    opacity: 0;
    font-size:2.5em;
    font-weight: normal;
    color:#fefefe;
}
.wrap-login {
	position: relative;
}
.wrap-login h1,
.wrap-pw h1,
.wrap-reset h1 {
	background: url(../images/main/wave-tile-white.png), #fe5c26;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 0.07em;
    margin-bottom: 0;
    line-height: 1.4em;
    padding: 1.2em 2.5em;
    display: inline-block;
    font-weight: bold;
    font-family: "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
}
.orgPanel {
	width: 550px; /* 50% */
    padding: 17px;
    border-bottom: 0;
    box-shadow: none;
    margin: 4% auto 0;
    background: url(../images/main/orange-tiles-s.png);
    border-radius: 1em;
    display: none;
}
.panel {
/*	display: none;*/
}
.wrap-login .orgPanel,
.wrap-pw .orgPanel,
.wrap-reset .orgPanel {
	display: block;
}

.panel a {
	-moz-transition: none;
    transition: none;
}
.new-regist {
    position: absolute;
    top: 55%;
    left: 0.5em;
}
.new-regist a {
	display: inline-block;
}
.new-regist p {
	width: 13.5em;
    font-size: 1em;
    font-weight: bold;
    color: #705B54;
    background: #FFFCFB;
    border: 10px solid #FFA286; /* #706764 */
    border-radius: 1.5em;
    padding: 0.5em 1.5em 0.5em;
    text-align: left;
    -webkit-transform: rotateZ(-9deg);
    transform: rotateZ(-9deg);
}
.new-regist p span {
	font-size: 1.2em;
    text-decoration: underline;
    margin-left: 1.5em;
}
.new-regist img {
	display: block;
    width: 100px;
    height: auto;
    margin: 0em 0 0.3em 1em;
}

.panel .panel-heading {
    color: #fff;
    font-size: 1.05em;
    line-height: 2.0em;
    font-family: "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
    padding: 0.7em 0.8em 0;
    margin-bottom: 0.3em;
    border-radius: 0.5em 0.5em 0 0;
    border-width: 2px 2px 0 2px;
}
.panel-heading h2 {
	display: block;
	width: 100px;
    height: 100px;
    margin: -1.8em auto 0;
    background: url(../images/main/top_icons/lock-white-r.png) center no-repeat, url(../images/main/orange-tiles-s.png) 10% 0;
	border-radius: 50%;
}
.panel .panel-body {
	border: solid #EF7857; /*#AFA199*/
    background: #FDFBF8;
    border-width: 2px;
    border-radius: 0.5em;
/*	border: 1px solid #aaa;*/
/*    padding: 1em 0.5em 0 1.5em;*/
}
.panel-body .conf-btn {
	min-width: 11em;
    line-height: 2.8em;
    font-size: 1.2em;
    padding: 0 2.8em;
    border-width: 5px;
    display: block;
    margin: 2em auto 0;
}
.panel .control-label {
	text-align: left;
    margin: 0;
    padding: 0;
    height: 3em;
    line-height: 3em;
    font-size: 0.95em;
    width: 23%;
    display: inline-block;
}
.panel input.form-control {
	border: 3px solid #9f9f9f;
    height: 3em;
    line-height: 1.5em;
    font-size: 1em;
    width: 74%;
    border-radius: 0.8em;
    box-shadow: none;
    display: inline-block;
}
.wrap-pw .control-label,
.wrap-reset .control-label {
	width: 28%;
}
.wrap-pw input.form-control,
.wrap-reset input.form-control {
	width: 69%;
}
.wrap-reset .form-group:nth-of-type(3) .control-label {
	line-height: 1.4em;
    display: block;
    float: left;
    margin-right: 0.3em;
}
.wrap-reset .form-group:nth-of-type(3) input.form-control {
	display: block;
    float: left;
}
.panel .form-group .octicon {
	font-size: 1.3em;
    margin-right: 0.3em;
}
.panel input[type="checkbox"] {
	top: 7px;
    left: 15px;
    width: 18px;
    height: 18px;
}
.panel p {
	margin: 1.0em 0 3em;
}
.panel .form-group {
	margin: 1.5em 0;
}
.panel .forget-pass {
	margin-bottom: 2em;
    color: #897F79/*#AA9992*/;
}
.panel input[disabled],
.panel button[disabled] {
	opacity: 0.7;
}

@media all and (-ms-high-contrast:none){ /* IE10-11 */
    .panel input[type="checkbox"] {
        top: 7px;
    	left: 15px;
        width: 17px;
    	height: 17px;
    }
}
@supports (-ms-accelerator:true) { /* Edge */
    .panel input[type="checkbox"] {
        top: 7px;
    	left: 15px;
        width: 17px;
    	height: 17px;
    }
}

/* Normal Table */
.table {
	border: 1px solid #D3C8C0;
}
.table col:first-of-type,
.table thead {
    background: url(../images/main/wave-tile-gray.png), #FFFBF9;
}
.company-table tbody tr th,
.company-table tbody tr td {
	height: 6em;
    text-align: left;
    padding: 1.0em 1.5em;
}
.company-table tbody tr th {
	padding-left: 1.5em;
}
.company-table tbody tr td {
	line-height: 1.6em;
}
.user-table tbody tr th,
.user-table tbody tr td {
	text-align: left;
    vertical-align: top;
	height: 4em;
    padding: 1em;
}
.user-table tbody tr th {
	width: 21%;
    padding-left: 1.5em;
}
.entry-table thead tr th {
	text-align: left;
    padding: 0 0 0 0.5em;
    vertical-align: middle;
	height: 6em;
}
.entry-table tbody tr td {
	height: 5em;
}
.user-table tbody tr th,
.entry-table thead tr th,
.company-table tbody tr th {
	color: #66544F;
}
.user-table tbody tr td,
.entry-table tbody tr td,
.company-table tbody tr td {
	background: #fcfcfc;
    color: #535353;
}

/* btn */
section.userinfo:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.userinfo h2 {
	width: 16%;
    float: left;
    margin: 0;
}
.userinfo table {
	float: right;
}
.edit-btn,
.conf-btn {
	color: #704F43; /*#704C3F*//*ORG:#7F635A*/
    background: #FFF1DC;
    border-radius: 0.5em;
    border: 2px solid #FFA387;
    box-sizing: border-box;
}
.edit-btn {
    text-align: center;
    padding: 0.5em 2em 0.4em;
    text-decoration: none;
	width: auto;
    margin-bottom: 0.5em;
    border-width: 3px;
}
.entry-table .conf-btn {
	display: inline-block;
	padding: 0.3em 0.3em 0.3em 0.6em;
    font-size: 0.9em;
    margin: auto;
    width: 100%;
    text-align: center;
}
.company-table .edit-btn {
	display: inline-block;
    padding: 0.8em 1.5em;
}
#entry-company > p .conf-btn,
#entry-study > p .conf-btn {
	display: inline-block;
	margin-top: 1em;
    padding: 0.5em 2.5em;
}
.corporation .edit-btn {
	display: inline-block;
	padding: 0.7em 2.5em;
}

.single header .edit-btn,
.single header .done-btn {
	float: right;
    font-size: 1.05em;
    margin-bottom: 2em;
}
.single footer .edit-btn,
.single footer .done-btn {
	display: block;
    width: 16em;
    font-size: 1.05em;
    margin: 3em auto 2em;
    padding: 1em 2em;
}

.single .done-btn {
	text-align: center;
    padding: 0.5em 2em 0.4em;
    text-decoration: none;
	width: auto;
    margin-bottom: 0.5em;
    background: #e7e7e7;
    color: #8a8a8a;
    border-radius: 0.5em;
}

img.left,
img.center,
img.right,
img.large,
img.middle,
img.small {
    margin-bottom: 1em;
}

img.left {
	float: left;
    margin-right: 1.5em;
    margin-bottom: 1.2em;
}

img.center {
	display: block;
    margin: 1.2em auto;
}

img.right {
	float: right;
    margin-left: 1.2em;
    margin-bottom: 1.2em;
}

img.large {
	width: 100%;
    height: auto;
}

img.middle {
	width: 50%;
    height: auto;
}

img.small {
	width: 27%;
    height: auto;
}

.main-ct pre {
	overflow: hidden;
	display: block;
	width: 85%;
    word-break: none;
  	word-wrap: none;
}

